<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-signin" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="text-center mb-4">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', alt: 'Logo', class: 'logo' %>
    <% end %>
    <h1 class="h3 mb-3 font-weight-normal"><%= link_to current_user.name, current_user %> <%#= resource_name.to_s.humanize %></h1>
  </div><!-- .text-center .mb-4 -->

  <div class="form-label-group">
    <div class="col-sm-12 text-center">
      <%= f.label :dark_theme, class: 'theme-check', title: 'Dark Theme' do %>
        <%= f.check_box :dark_theme, id: 'inputTheme', data: {'user-id': current_user.id} %>
      <% end %>
      <label for="inputTheme" class='ml-2 text-muted'>Dark Theme</label>
    </div><!-- col-sm-12 -->
  </div><!-- form-group -->

  <div class="form-label-group">
    <%= f.email_field :email, id: "inputEmail", class: "form-control", placeholder: "Email address", autofocus: true %>
    <label for="inputEmail">Email address</label>
  </div><!-- .form-label-group -->

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-label-group">
    <%= f.password_field :password, id: "inputPassword", class: "form-control", placeholder: "Password (6 characters minimum)", autofocus: true %>
    <label for="inputPassword">Password</label>
  </div><!-- .form-label-group -->

  <div class="form-label-group">
    <%= f.password_field :password_confirmation, id: "inputPasswordConfirmation", class: "form-control", placeholder: "Password Confirmation", autofocus: true %>
    <label for="inputPasswordConfirmation">Password confirmation</label>
  </div><!-- .form-label-group -->

  <div class="form-label-group">
    <%= f.password_field :current_password, autocomplete: "current-password", id: "inputCurrentPassword", class: "form-control", placeholder: "Password (6 characters minimum)", autofocus: true %>
    <label for="inputCurrentPassword">Current Password</label>
  </div><!-- .form-label-group -->

  <%= f.submit "Update", class: "btn btn-lg btn-block btn-primary" %>

  <button type="button" class="btn btn-lg btn-block btn-outline-danger mt-5" data-toggle="modal" data-target="#goodbyeModal">Delete Account</button>

<% end %>

<div class="modal fade text-left" id="goodbyeModal" tabindex="-1" role="dialog" aria-labelledby="goodbyeModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-danger" id="goodbyeModalLabel">
          Delete Account
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-window-close"></i>
        </button><!-- .close -->
      </div><!-- .modal-header -->
      <div class="modal-body">
        <div class="my-3 p-3 bg-white shadow-lg">
          <p class="pb-1 mt-1">
            Are you sure you want to delete your account? <strong>Your articles will also be deleted</strong>.
          </p>
        </div><!-- .my-3 .p-3 .bg-white .shadow-sm -->
      </div><!-- .modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <%= link_to(registration_path(resource_name), class:'btn btn-danger', data: { confirm: "Confirm Account Deletion" }, method: :delete) do %>
          Delete Acount
        <% end %>
      </div><!-- .modal-footer -->
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->

<!-- Toggle Themes -->
<script>
$('input[type=checkbox]#inputTheme').each(function(index, element) {
  return $(element).change(function(e) {
    var user_id;
    user_id = $(e.currentTarget).data('user-id');
    return $.ajax({
      url: '/users/' + user_id + '/toggle_theme',
      type: 'PUT',
      error: function(jqXHR, textStatus, errorThrown) {
        return console.log('user ajax error: ' + textStatus);
      },
      success: function(data, textStatus, jqXHR) {
        // show change + handle turbolinks
        return location.reload();
      }
    });
  });
});
</script>
