<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin" } ) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="text-center mb-4">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', alt: 'Logo', class: 'logo' %>
    <% end %>
    <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
    <p>Make your own todo list &plus; be a part of the blog.</p>
  </div><!-- .text-center .mb-4 -->

  <div class="custom-control custom-switch text-center mt-3 mb-3">
    <%= f.check_box :dark_theme, class: "custom-control-input", id: "inputTheme" %>
    <label class="custom-control-label text-secondary" for="inputTheme">Dark Theme</label>
  </div><!-- .custom-control .custom-switch -->

  <div class="form-label-group mb-5">
    <p class="mb-0 ml-3 small text-secondary">Timezone</p>
    <%= f.select :timezone, timezone_options, { include_blank: false }, { class: 'form-control' } %>
  </div><!-- .form-label-group -->

  <div class="form-label-group">
    <%= f.email_field :email, id: "inputEmail", class: "form-control", placeholder: "Email address", autofocus: true %>
    <label for="inputEmail">Email address</label>
  </div><!-- .form-label-group -->

  <div class="form-label-group">
    <%= f.password_field :password, id: "inputPassword", class: "form-control", placeholder: "Password (6 characters minimum)" %>
    <label for="inputPassword">Password</label>
  </div><!-- .form-label-group -->

  <div class="form-label-group">
    <%= f.password_field :password_confirmation, id: "inputPasswordConfirmation", class: "form-control", placeholder: "Password Confirmation" %>
    <label for="inputPasswordConfirmation">Password confirmation</label>
  </div><!-- .form-label-group -->

  <% if devise_mapping.rememberable? %>
    <div class="form-label-group">
      <div class="col-sm-12">
        <%= f.label :remember_me, title: 'Remember me' do %>
          <%= f.check_box :remember_me, id: 'inputRemember' %>
        <% end %>
        <label for="inputRemember" class='text-muted'>Remember me</label>
      </div><!-- col-sm-12 -->
    </div><!-- form-group -->
  <% end %>

  <%= f.submit "Sign up", class: "btn btn-lg btn-success btn-block" %>

  <p class="mt-5 mb-3 text-muted text-center">
    <%= render "devise/shared/links" %>
  </p>

<% end %>
