<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Sign up</h1>
    <p class="lead text-muted">Sign up in order to make your own todo list &plus; be a part of the blog.</p>
  </div>
</section>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signup" } ) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password (6 characters minimum)", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

  <br>&nbsp;
  <%= render "devise/shared/links" %>

<% end %>
