<section class="jumbotron py-4 text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Admins</h1>
    <p class="lead text-left text-muted">Hi, <%= link_to truncate(current_user.name), current_user, class: "text-info font-weight-bold" %>, you are authorized to create admins. You can use the form at the bottom of the page to create a new admin user.</p>
    <div class="filter">
      <%= render partial: 'admins/search', locals: { action: new_admin_path, q: '' } %>
    </div><!-- .filter -->
  </div><!-- .container -->
</section><!-- .jumbotron -->

<div class="row">
  <div class="col-lg-8 mb-5">
    <%= render partial: 'users/users' %>
  </div><!-- .col-lg-8 -->
  <div class="col-lg-4 mb-5">
    <%= render partial: 'admins/chart' %>
    <div class="card mt-5">
      <%= render partial: 'admins/form', locals: { action: admins_path } %>
    </div>
  </div><!-- .col-lg-4 -->
</div><!-- .row -->
