<div class="album py-5 text-start">
  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-lg-4">
      <div class="card mb-4 box-shadow shadow">
        <% if article.embed.present? %>
          <%= link_to article.thumb, article_path(article) %>
        <% else %>
          <%= link_to image_tag("missing.svg", alt: 'No video', class: 'card-img-top'), article_path(article) %>
        <% end %>
        <div class="card-body text-nowrap">
          <h5 class="card-text jumbotron-heading fw-bold">
            <%= link_to truncate(article.title), article_path(article), class: 'text-dark' %>
          </h5>
          <p class="card-text"><i class="bi bi-person-fill text-muted"></i> <%= link_to truncate(article.user.name), article.user, class: 'text-info fw-bold' %></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <%= link_to article_path(article) do %>
                <i class='bi bi-book text-dark me-3' data-bs-toggle="tooltip" data-bs-placement="bottom" title="View"></i>
              <% end %>
              <% if can? :manage, article %>
                <%= link_to edit_article_path(article) do %>
                  <i class='bi bi-pencil text-orange me-3' data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"></i>
                <% end %>
                <%= link_to article_path(article), method: :delete, data: { confirm: 'Are you sure you want to delete this article?' } do %>
                  <i class='bi bi-trash text-danger' data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"></i>
                <% end %>
              <% end %>
            </div><!-- .btn-group -->
            <span>
              <small class="d-inline text-muted">
                <%= article.created %>
              </small>
              <% if article.users_articles.find_by(user_id: current_user) %>
                <i class="bi bi-heart-fill small ms-2 font-italic fw-bold text-tayberry"></i>
                <sup class="font-italic fw-bold text-tayberry"><%= article.liked_by_users.size %></sup>
              <% else %>
                <i class="bi bi-heart small ms-2 font-italic fw-light text-tayberry"></i>
                <sup class="font-italic text-tayberry"><%= article.liked_by_users.size %></sup>
              <% end %>
            </span>
          </div><!-- .d-flex -->
        </div><!-- .card-body -->
      </div><!-- .card .box-shadow .shadow -->
    </div><!-- .col-lg-4 -->
    <% end %>
  </div><!-- .row -->
  <div class="pagination">
    <%= will_paginate @articles,
      previous_label:'Prev',
      next_label:'Next',
      inner_window: 1, outer_window: -1
    %>
  </div><!-- .pagination -->
</div><!-- .album -->
