<div class="album py-5 text-left">
  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-lg-4">
      <div class="card mb-4 box-shadow">
        <% if article.embed.present? %>
          <%= article.iframe.html_safe %>
        <% else %>
          <%= image_tag 'missing.svg', alt: 'Media', class: 'card-img-top' %>
        <% end %>
        <div class="card-body">
          <p class="card-text font-weight-bold"><%= truncate(article.title.titlecase) %></p>
          <p class="card-text"><i class="fas fa-user text-muted"></i> <%= truncate(article.user.name) %></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <%= link_to 'View', article_path(article), class: 'btn btn-sm btn-outline-secondary' %>
              <% if can? :manage, article %>
                <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-sm btn-primary' %>
              <% end %>
            </div><!-- .btn-group -->
            <small class="text-muted"><%= article.updated_at.strftime('%b %-d, %Y') %></small>
          </div><!-- .d-flex -->
        </div><!-- .card-body -->
      </div><!-- .card -->
    </div><!-- .col-lg-4 -->
    <% end %>
  </div><!-- .row -->
  <div class="pagination">
    <%= will_paginate @articles,
      previous_label:'Prev',
      next_label:'Next',
      inner_window: 1, outer_window: -1
    %>
  </div><!-- .pagination -->
</div><!-- .album -->
