<%= form_for @article, html: { class: 'form-horizontal' } do |f| %>

  <% if @article.errors.any? %>
    <div class="errors">
      <h2>There was an error with this article:</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="form-section">

    <div class="jumbotron text-center form-label-group">
      <div class="col-sm-12">
        <%= f.text_field :title, id: "inputTitle", class: "form-control", placeholder: "Title", autofocus: true %>
        <label for="inputTitle"><code>&#42; Title</code></label>
      </div><!-- .col-sm-12 -->
    </div><!-- .jumbotron .text-center .form-group -->

    <div class="jumbotron text-center form-label-group">
      <div class="col-sm-12">
        <%= f.text_field :embed, id: "inputEmbed", class: "form-control", placeholder: "YouTube Video" %>
        <label for="inputEmbed">YouTube Video (<span style="cursor:pointer;" class="text-info" data-toggle="modal" data-target="#exampleModal">examples</span>)</label>
      </div><!-- .col-sm-12 -->
    </div><!-- .jumbotron .text-center .form-group -->

    <div class="jumbotron form-group">
      <div class="col-sm-12">
        <%= f.rich_text_area :text, class: 'form-control' %>
      </div><!-- .col-sm-12 -->
    </div><!-- .jumbotron .form-group -->

    <div class="form-group">
      <div class="col-sm-12 text-center">
        <%= link_to 'Cancel', articles_path, class: 'btn btn-outline-secondary' %>
        <%= f.submit class: 'btn btn-success' %>
      </div><!-- .col-sm-12 -->
    </div><!-- .form-group -->

  </section><!-- .form-section -->

<% end %>
