<%= form_for @article, html: { class: 'form-horizontal' } do |f| %>

  <% if @article.errors.any? %>
    <div class="position-fixed d-flex justify-content-center align-items-center" style="z-index: 11">
      <div class="toast show rounded toast-danger" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag 'logo.png', alt: 'Logo', title: 'Home', class: 'footer-logo' %>
          <% end %>
          <strong class="me-auto"></strong>
          <small><%= Time.now.in_time_zone(current_user.timezone).strftime('%l:%M%P') %></small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <% @article.errors.full_messages.each do |msg| %>
          <div class="toast-body text-danger">
            <%= msg %>
          </div>
        <% end %>
      </div><!-- .toast .show -->
    </div><!-- .position-fixed .d-flex -->
  <% end %>

  <section class="mt-5 pb-5">
    <div class="row">
      <div class="col-lg-6 pt-1">
        <div class="form-floating mt-5 mb-5">
          <%= f.text_field :title, autocomplete: "Title", id: "inputTitle", class: "form-control", placeholder: "Title", autofocus: false %>
          <label for="inputTitle"><code class="text-orange">&#42; Title</code></label>
        </div><!-- .form-floating -->
        <div class="form-floating mt-5">
          <%= f.text_field :embed, autocomplete: "Embed", id: "inputEmbed", class: "form-control", placeholder: "Embed", autofocus: false %>
          <label for="inputEmbed" class="text-muted">
            YouTube Video URL
          </label>
        </div><!-- .form-floating -->
      </div><!-- .col-lg-6 .pt-1 -->
      <div class="col-lg-6">
        <div class="preview-thumb container mt-5 text-center">
          <% if @article.embed.present? %>
            <%= @article.thumb %>
          <% else %>
            <%= image_tag("missing.svg", alt: 'No video', class: 'card-img-top') %>
          <% end %>
          <small class="text-muted">
            <i class="bi bi-info-circle-fill pointer me-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>
            YouTube video preview image
          </small>
        </div><!-- .container .text-center .form-floating -->
      </div><!-- .col-lg-6 -->
    </div><!-- .row -->

    <div class="jumbotron form-group">
      <%= f.rich_text_area :text, class: 'form-control' %>
    </div><!-- .jumbotron .form-group -->

    <div class="form-group d-flex justify-content-center">
      <%= link_to 'Cancel', articles_path, class: 'btn btn-secondary align-self-center mx-1' %>
      <%= f.submit 'Submit', class: 'btn btn-orange align-self-center mx-1' %>
    </div><!-- .form-group -->
  </section><!-- .pb-5 -->

<% end %>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <small id="offcanvasRightLabel">Example YouTube Links</small>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div><!-- .offcanvas-header -->
  <div class="offcanvas-body">
    <h5 class="pb-1 mt-1">Format 1</h5>
    <div class="text-muted">
      <p class="pb-3 mb-0 small lh-125 border-bottom border-gray">
        https://youtu.be/<strong>u75Zsl1ECPQ</strong>
      </p>
    </div>
    <h5 class="pb-1 mt-4">Format 2</h5>
    <div class="text-muted">
      <p class="pb-3 mb-0 small lh-125 border-bottom border-gray">
        https://www.youtube.com/watch?v=<strong>u75Zsl1ECPQ</strong>
      </p>
    </div>
    <h5 class="pb-1 mt-4">Format 3</h5>
    <div class="text-muted">
      <p class="pb-3 mb-0 small lh-125 border-bottom border-gray">
        https://www.youtube.com/watch?v=<strong>u75Zsl1ECPQ</strong>&list=PLu9lbDbw-S8zyBwu9_aA2nE-3QocgyzRE&index=4
      </p>
    </div>
    <p class="mt-5 pb-3">
      <small class="ms-1">
        <span class="text-orange">Note</span>:
        Preview image reflects saved &amp; formatted link
      </small>
    </p><!-- .mt-5 .pb-3 -->
  </div><!-- .offcanvas-body -->
  <div class="offcanvas-footer text-end">
    <button type="button" class="btn btn-outline-secondary me-3 mb-3" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
  </div>
</div><!-- .offcanvas -->
