<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Blog</h1>
    <p class="lead text-muted">Just some good, old-fashioned CRUD</p>
    <p>
      <% if user_signed_in? %>
        <%= link_to 'New Article', new_article_path, class: 'btn btn-outline-primary' %>
      <% end %>
    </p>
    <div class="filter">
      <%= render partial: 'articles/search', locals: { action: articles_path, q: '' } %>
    </div><!-- .filter -->
  </div>
</section>

<div class="album py-5">
  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-lg-4">
      <div class="card mb-4 box-shadow">
        <%= image_tag article.avatar.url, class: 'card-img-top' %>
        <div class="card-body">
          <p class="card-text"><%= article.title.titlecase %></p>
          <p class="card-text">By <%= article.user.name %></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <%= link_to 'View', article_path(article), class: 'btn btn-sm btn-outline-secondary' %>
              <% if current_user == article.user %>
                <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-sm btn-primary' %>
              <% end %>
            </div><!-- .btn-group -->
            <small class="text-muted"><%= article.updated_at.strftime('%b %-d, %Y at %l:%M %p') %></small>
          </div><!-- .d-flex -->
        </div><!-- .card-body -->
      </div><!-- .card -->
    </div><!-- .col-lg-4 -->
    <% end %>
  </div><!-- .row -->
  <div class="pagination">
    <%= will_paginate @articles %>
  </div><!-- .pagination -->
</div><!-- .album -->
