<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @article.title %></h1>
    <p class="lead text-muted">
      <%= @article.created %>
      <strong class="d-block"><i class="fas fa-user"></i>
        <%= link_to truncate(@article.user.name), @article.user, class: "text-info" %>
      </strong>
    </p>
    <% if can? :manage, @article %>
      <p class="mt-0 mb-0">
        <%= link_to edit_article_path(@article), class: 'btn btn-outline-dark' do %>
          <i class='fas fa-signature text-orange' data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
        <% end %>
        <%= link_to article_path(@article), class: 'btn btn-outline-dark', method: :delete, data: { confirm: 'Are you sure you want to delete this article?' } do %>
          <i class='fas fa-trash text-danger mx-1' data-toggle="tooltip" data-placement="bottom" title="Delete"></i>
        <% end %>
      </p>
    <% end %>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<div class="card-body">
  <% if @article.embed.present? %>
    <div class="embed-responsive embed-responsive-16by9">
      <%= @article.iframe %>
    </div><!-- .embed-responsive -->
  <% end %>
  <div class="card-text mt-3 mb-2">
    <%= @article.text if @article.text.present? %>
  </div>
  <h5 class="jumbotron-heading text-end me-1">
    <%= render partial: 'articles/like' %>
  </h5>
</div><!-- .card-body -->

<section class="container">
  <h4 class="jumbotron-heading text-center my-5">Comments</h4>
  <div class="row">
    <div class="col-lg-7 overflow-auto" id='comments'>
      <%= render partial: 'comments/comment' %>
    </div><!-- .col-lg-7 -->
    <div class="col-lg-5">
      <%= render partial: 'comments/form' %>
    </div><!-- .col-lg-5 -->
  </div><!-- .row -->
</section><!-- .container -->

<section class="text-center mt-5">
  <h4 class="jumbotron-heading pt-5 mb-0 text-gray-dark">Articles by <%= link_to truncate(@article.user.name), @article.user, class: "text-info" %></h4>
  <div class="pt-0 mt-0 mb-0">
    <%= render partial: 'articles/articles' %>
  </div><!-- .pt-0 .mt-0 .mb-0 -->
</section><!-- .text-center mt-5 -->
