<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @article.title.titlecase %></h1>
    <p class="lead text-muted"><%= @article.updated_at.strftime('%b %-d, %Y, %l:%M %p') %><strong class="d-block"><i class="fas fa-user"></i> <%= @article.user.name %></strong></p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<div class="card-body">
  <% if @article.embed.present? %>
    <div class="embed-responsive embed-responsive-16by9">
      <%= @article.iframe.html_safe %>
    </div><!-- .embed-responsive -->
  <% end %>
  <p class="card-text"><%= @article.text if @article.text.present? %></p>
  <% if can? :manage, @article %>
    <p class="mt-5 mb-0">
      <%= link_to 'Edit', edit_article_path(@article), title: 'Edit', class: 'btn btn-lg btn-block btn-primary' %>
    </p>
  <% end %>
</div><!-- .card-body -->

<section class="text-center mt-5">
  <h4 class="jumbotron-heading pt-5 mb-0 text-gray-dark">Articles by <%= link_to truncate(@article.user.name), @article.user, class: "text-info" %></h4>
  <div class="pt-0 mt-0 mb-5">
    <%= render partial: 'articles/articles' %>
  </div><!-- .pt-0 .mt-0 .mb-5 -->
</section><!-- .text-center mt-5 -->
