<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @article.title.titlecase %></h1>
    <p class="lead text-muted"><i class="fas fa-user"></i> <%= @article.user.name %><br><%= @article.updated_at.strftime('%b %-d, %Y, %l:%M %p') %></p>
    <p>
      <% if current_user == @article.user %>
        <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-lg btn-primary btn-block' %>
      <% end %>
    </p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<section class="jumbotron text-center jumbo-show bg-dark" style="background-image: url('<%= @article.avatar.url %>')"></section>

<div class="card-body">
  <p class="card-text"><%= @article.text if @article.text.present? %></p>
</div><!-- .card-body -->


<h3 class="more-whatever text-center">Articles by <%= @article.user.name %></h3>
<p class="mt-3 mb-1 text-muted text-center">
  <%= link_to truncate('See All'), @article.user, class: "btn btn-outline-secondary btn-block" %>
</p>
<%= render partial: 'articles/articles' %>
