<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @article.title.titlecase %></h1>
    <p class="lead text-muted"><i class="fas fa-user"></i> <%= @article.user.name %><br><%= @article.updated_at.strftime('%b %-d, %Y, %l:%M %p') %></p>
    <p>
      <% if current_user == @article.user %>
        <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-lg btn-primary btn-block' %>
      <% end %>
    </p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<% if @article.avatar.present? %>
  <section class="jumbotron text-center jumbo-show bg-white" style="background-image: url('<%= @article.avatar.url %>')"></section>
<% end %>

<div class="card-body">
  <p class="card-text"><%= @article.text if @article.text.present? %></p>
</div><!-- .card-body -->

<section class="container text-center mt-5">
  <h4 class="jumbotron-heading pt-5 mb-0 text-gray-dark">Articles by <%= link_to truncate(@article.user.name), @article.user, class: "text-info" %></h4>
  <h6 class="text-muted jumbotron-heading mt-1 mb-2 text-gray-dark"><%= @article.user.articles.count %></h6>
  <div class="pt-0 mt-0 mb-5">
    <%= render partial: 'articles/articles' %>
  </div><!-- .pt-0 .mt-0 .mb-5 -->
</section><!-- .container -->
