<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @article.title.titlecase %></h1>
    <p class="lead text-muted"><i class="fas fa-user"></i> <%= @article.user.name %><br><%= @article.updated_at.strftime('%b %-d, %Y, %l:%M %p') %></p>
    <p>
      <% if current_user == @article.user %>
        <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-lg btn-primary btn-block' %>
      <% end %>
    </p>
  </div><!-- .container -->
</section><!-- .jumbotron -->


<div class="mt-0 mb-1 text-center">
  <% if @article.avatar.present? %>
    <%= image_tag @article.avatar.url, alt: 'Article avatar', class: 'article-show-image' %>
  <% end %>
</div><!-- .mt-0 .mb-1 .text-center -->

<div class="card-body">
  <p class="card-text"><%= @article.text if @article.text.present? %></p>
</div><!-- .card-body -->

<section class="container text-center mt-5">
  <h4 class="jumbotron-heading pt-5 mb-0 text-gray-dark">Articles by <%= link_to truncate(@article.user.name), @article.user, class: "text-info" %></h4>
  <div class="pt-0 mt-0 mb-5">
    <%= render partial: 'articles/articles' %>
  </div><!-- .pt-0 .mt-0 .mb-5 -->
</section><!-- .container -->
