<div class="col-lg-7">
  <div class="row mb-5">
    <div class="col-12 mt-3 text-left">
      <section class="mt-0">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>ID</th>
                <td><%= @user.id %></td>
              </tr>
              <tr>
                <th>Role</th>
                <td><%= @user.role %></td>
              </tr>
              <tr>
                <th>Joined</th>
                <td><%= @user.created %></td>
              </tr>
              <tr>
                <th>Total Visits</th>
                <td><%= @user.visits.count %></td>
              </tr>
              <tr>
                <th>Total Logins</th>
                <td><%= @user.sign_in_count %></td>
              </tr>
              <tr>
                <th>Current Login</th>
                <td><%= @user.current_login %></td>
              </tr>
              <tr>
                <th>Landing Page</th>
                <td><%= link_to truncate(@user.landing), @user.landing, class: 'text-tayberry' %></td>
              </tr>
              <tr>
                <th>Last Event</th>
                <td><%= @user == current_user ? @user.second_to_last_page : @user.last_page %></td>
              </tr>
              <tr>
                <th>Tech</th>
                <td><%= @user.tech %></td>
              </tr>
              <tr>
                <th>Location</th>
                <td><%= @user.location %></td>
              </tr>
              <tr>
                <th>Timezone</th>
                <td><%= @user.timezone %></td>
              </tr>
              <tr>
                <th>Dark Theme</th>
                <td><%= @user.dark_theme ? 'Yes' : 'No' %></td>
              </tr>
              <tr>
                <th>ToDo Items</th>
                <td><%= @user.todo_items.count %></td>
              </tr>
              <tr>
                <th>Articles</th>
                <td><%= @user.articles.count %></td>
              </tr>
            </tbody>
          </table><!-- .table .table-striped -->
        </div><!-- .table-responsive -->
      </section><!-- .text-center mt-0 -->
    </div><!-- .col-12 -->
  </div><!-- .row .mb-5 -->
</div><!-- .col-lg-7 -->
<div class="col-lg-1 pb-1"></div>
<div class="col-lg-4">
  <p class="mt-2">
    <%= pie_chart ({"Not Complete" => @user.todo_items.where(complete: false).count, "Complete" => @user.todo_items.where(complete: true).count}), legend: false, download: {background: "#ffffff"}, colors: ["rgba(0,0,0,0.3)", "rgba(0,0,0,0.7)"], title: "List Status" %>
  </p>
  <p class="mt-0 mb-5">
    <%= area_chart @user.todo_items.group_by_month_of_year(:created_at).count.map{ |k, v| [I18n.t("date.month_names")[k], v] }, download: {background: "rgba(0,0,0,0.5)"}, points: false, colors: ["rgba(0,0,0,0.5)"], title: "Items" %>
  </p>
</div><!-- .col-lg-4 -->
