<%= turbo_stream_from :users %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="text-muted">User</th>
        <th scope="col" class="text-muted">Role</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr id="<%= dom_id user %>">
          <td><%= link_to truncate(user.name), user, class: 'text-info fw-bold' %></td>
          <td><%= user.role %></td>
          <td>
            <% if can? :manage, user %>
              <%= link_to user_path(user), method: :delete, data: { confirm: 'Are you sure you want to delete this user?' } do %>
                <i class='fas fa-trash text-muted'></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table><!-- .table .table-striped -->
</div><!-- .table-responsive -->
<div class="pagination">
  <%= will_paginate @users,
    previous_label:'Prev',
    next_label:'Next',
    inner_window: 1, outer_window: -1
  %>
</div><!-- .pagination -->
