<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Joined</th>
        <% if current_user.has_role?(:sysadmin) || current_user.has_role?(:superadmin) %>
          <th scope="col">Role</th>
        <% end %>
        <th scope="col">Articles</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to truncate(user.name), user, class: 'text-info font-weight-bold' %></td>
          <td><%= user.created_at.strftime('%b %-d, %Y') %></td>
          <% if current_user.has_role?(:sysadmin) || current_user.has_role?(:superadmin) %>
            <td><%= user.roles.first.name if user.roles.present? %></td>
          <% end %>
          <td><%= user.articles.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table><!-- .table .table-striped -->
</div><!-- .table-responsive -->
<div class="pagination">
  <%= will_paginate @users,
    previous_label:'Prev',
    next_label:'Next',
    inner_window: 1, outer_window: -1
  %>
</div><!-- .pagination -->
