<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Users</h1>
    <p class="lead text-muted">All users and the number of articles they've contributed</p>
    <div class="filter">
      <%= render partial: 'users/search', locals: { action: articles_path, q: '' } %>
    </div><!-- .filter -->
  </div><!-- .container -->
</section><!-- .jumbotron .text-center -->

<div class="row">
  <div class="col-xl-8">
    <%= render partial: 'users/users' %>
  </div><!-- .col-lg-8 -->
  <div class="col-xl-4">
    <div class="bg-white rounded">
      <div class="media text-muted pt-5">
        <p class="media-body pb-1 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">Why are we listing users?</strong>
          We just want a view for now where we can see how many users are joining, populating the blog, etc..
        </p><!-- .media-body -->
      </div><!-- .media .text-muted .pt-3 -->
      <p class="text-muted pb-1 mt-4 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">New Users Month by Year ( <%= User.count %> Total )</strong>
      </p><!-- .pb-1 mt-4 mb-0 small lh-125-->
      <p class="border-bottom border-gray mt-0">
        <%= column_chart charts_month_of_year_users_path, colors: ["#17a2b8"] %>
      </p><!-- .mt-0 -->
      <p class="text-muted pb-1 mt-4 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">New Articles Month by Year ( <%= Article.count %> Total )</strong>
      </p><!-- .pb-1 mt-4 mb-0 small lh-125-->
      <p class="border-bottom border-gray mt-0">
        <%= bar_chart charts_month_of_year_articles_path, colors: ["rgba(251,79,20,0.5)"] %>
      </p><!-- .mt-0 -->
    </div><!-- .bg-white .rounded -->
  </div><!-- .col-lg-4 -->
</div><!-- .row -->
