<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Users</h1>
    <p class="lead text-left text-muted">This is another dashboard, aside from the current dashboard. View all users and the number of articles they've contributed.</p>
    <div class="filter">
      <%= render partial: 'users/search', locals: { action: articles_path, q: '' } %>
    </div><!-- .filter -->
  </div><!-- .container -->
</section><!-- .jumbotron .text-center -->

<div class="row">
  <div class="col-xl-8">
    <%= render partial: 'users/users' %>
  </div><!-- .col-lg-8 -->
  <div class="col-xl-4">
    <div class="bg-white rounded">
      <div class="media text-muted pt-4">
        <p class="media-body pt-1 small border-bottom border-gray">
          <strong class="d-block text-gray-dark pb-1">In lieu of user roles ...</strong>
          This acts as a dashboard view, in effect, so everyone can monitor everything.
        </p><!-- .media-body -->
      </div><!-- .media .text-muted .pt-3 -->
      <p class="text-muted pb-1 mt-4 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Users Month of Year</strong>
        <%= User.count %> Total
      </p><!-- .pb-1 mt-4 mb-0 small lh-125-->
      <p class="border-bottom border-gray mt-0">
        <%= column_chart charts_month_of_year_users_path, refresh: 55, download: true, colors: ["#17a2b8"] %>
      </p><!-- .mt-0 -->
      <p class="text-muted pb-1 mt-4 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Articles Month of Year</strong>
        <%= Article.count %> Total
      </p><!-- .pb-1 mt-4 mb-0 small lh-125-->
      <p class="border-bottom border-gray mt-0">
        <%= column_chart charts_month_of_year_articles_path, refresh: 55, download: true, colors: ["rgba(251,79,20,0.5)"] %>
      </p><!-- .mt-0 -->
      <p class="text-muted pb-1 mt-4 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Todos Month of Year</strong>
        <%= TodoItem.count %> Total
      </p><!-- .pb-1 mt-4 mb-0 small lh-125-->
      <p class="border-bottom border-gray mt-0">
        <%= column_chart charts_month_of_year_todos_path, refresh: 55, download: true, colors: ["rgba(61,12,2,0.5)"] %>
      </p><!-- .mt-0 -->
    </div><!-- .bg-white .rounded -->
  </div><!-- .col-lg-4 -->
</div><!-- .row -->
