<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @user.name %></h1>
    <p class="lead">
      <% if can? :manage, @user  %>
        <%= mail_to @user.email, @user.email, class: 'text-info fw-bold' %>
      <% else %>
        🖖🏼
      <% end %>
    </p>
  </div><!-- .container -->
</section><!-- .jumbotron .text-center -->

<section class="text-center mt-0">
  <% if current_user.has_role?(:superadmin) %>
    <div class="row">
      <%= render partial: 'users/charts' %>
    </div><!-- .row -->
  <% end %>
  <% if !@user.has_role?(:visitor) && @user.rooms.count > 0 %>
    <div class="row mb-5">
      <div class="col-md-6">
        <p class="mt-0 mb-0">
          <%= line_chart @user.rooms_count, points: false, download: {background: "#ffffff"}, colors: ["rgba(0,0,0,0.9)"], title: "Rooms" %>
        </p>
      </div>
      <div class="col-md-6">
        <%= render partial: 'users/rooms' %>
      </div>
    </div><!-- .row -->
  <% end %>
  <div class="row mb-0">
    <div class="col-12">
      <p class="mt-2 mb-0">
        <%= line_chart @user.articles_count, points: false, download: {background: "#ffffff"}, colors: ["rgba(0,0,0,0.9)"], title: "Articles" %>
      </p>
    </div>
    <div class="col-12">
      <%= render partial: 'articles/articles' %>
    </div>
  </div><!-- .row -->
</section><!-- .text-center .mt-0 -->
