<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @user.name %></h1>
    <p class="lead"><%= mail_to @user.email, @user.email, class: 'text-info font-weight-bold' %></p>
    <p class="text-muted">Joined <%= @user.created_at.strftime('%b %-d, %Y') %></p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<section class="text-center mt-0">
  <% if can? :manage, @user %>
    <div class="row">
      <div class="col-md-6 mt-3 mb-0">
        <%= area_chart @user.todo_items.group_by_month_of_year(:created_at).count.map{ |k, v| [I18n.t("date.month_names")[k], v] }, download: {background: "#ffffff"}, points: false, colors: ["rgba(61,12,2,0.5)"], title: "Items" %>
      </div><!-- .col-md-7 -->
      <div class="col-md-6 mt-3 mb-5">
        <%= pie_chart ({"Not Complete" => @user.todo_items.accessible_by(current_ability).where(complete: false).count, "Complete" => @user.todo_items.accessible_by(current_ability).where(complete: true).count}), legend: false, download: {background: "#ffffff"}, colors: ["rgba(61,12,2,0.3)", "rgba(61,12,2,0.7)"], title: "List Status" %>
      </div><!-- .col-md-4 -->
      <div class="col-12 mt-5">
        <%= area_chart @user.articles.group_by_month_of_year(:created_at).count.map{ |k, v| [I18n.t("date.month_names")[k], v] }, points: false, download: {background: "#ffffff"}, colors: ["rgba(251,79,20,0.5)"], title: "Articles" %>
      </div><!-- .col-12 -->
    </div><!-- .row -->
  <% end %>
  <div class=" mt-0 mb-0">
    <%= render partial: 'articles/articles' %>
  </div><!-- .mt-0 .mb-0 -->
</section><!-- .container -->
