<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @user.name %></h1>
    <p class="lead"><%= mail_to @user.email, @user.email, class: 'text-info font-weight-bold' %></p>
    <p class="text-muted">Joined <%= @user.created_at.in_time_zone("#{current_user.timezone}").strftime('%b %-d, %Y') %></p>
  </div><!-- .container -->
</section><!-- .jumbotron .text-center -->

<section class="text-center mt-0">
  <% if current_user.has_role?(:superadmin) || current_user == @user # if can? :manage, @user %>
    <div class="row">
      <%= render partial: 'users/charts' %>
    </div><!-- .row -->
  <% end %>
  <div class=" mt-0 mb-0">
    <%= render partial: 'articles/articles' %>
  </div><!-- .mt-0 .mb-0 -->
</section><!-- .text-center .mt-0 -->
