<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-signin" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="text-center mb-4">
    <%= image_tag 'logo.png', alt: 'Logo', class: 'mb-3' %>
    <h1 class="h3 mb-3 font-weight-normal">Change your password</h1>
  </div><!-- .text-center .mb-4 -->

  <div class="form-label-group">
    <%= f.password_field :password, id: "inputPassword", class: "form-control", placeholder: "Password (6 characters minimum)", autofocus: true %>
    <label for="inputPassword">New password</label>
  </div><!-- .form-label-group -->

  <div class="form-label-group">
    <%= f.password_field :password_confirmation, id: "inputPasswordConfirmation", class: "form-control", placeholder: "Password Confirmation", autofocus: true %>
    <label for="inputPasswordConfirmation">Confirm new password</label>
  </div><!-- .form-label-group -->

  <%= f.submit "Change my password", class: "btn btn-lg btn-outline-success btn-block" %>

  <p class="mt-5 mb-3 text-muted text-center">
    <%= render "devise/shared/links" %>
  </p>

  <p class="mt-5 mb-3 text-muted text-center">
    <%= link_to('Home', root_path, class: "btn btn-outline-dark") %>
  </p>

<% end %>
