<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-signin" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="text-center mb-4">
    <%= image_tag 'logo.png', class: 'mb-4' %>
    <h1 class="h3 mb-3 font-weight-normal">Forgot your password?</h1>
  </div><!-- .text-center .mb-4 -->

  <div class="form-label-group">
    <%= f.email_field :email, autocomplete: "email", id: "inputEmail", class: "form-control", placeholder: "Email address", autofocus: true %>
    <label for="inputEmail">Email address</label>
  </div><!-- .form-label-group -->

  <%= f.submit "Send me reset password instructions", class: "btn btn-lg btn-outline-success btn-block" %>

  <p class="mt-5 mb-3 text-muted text-center">
    <%= render "devise/shared/links" %>
  </p>

  <p class="mt-5 mb-3 text-muted text-center">
    <%= link_to('Home', root_path, class: "btn btn-outline-primary") %>
  </p>

<% end %>
