<% flash.each do |key, value| %>
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag 'logo.png', alt: 'Logo', title: 'Home', class: 'footer-logo' %>
        <% end %>
        <strong class="me-auto"></strong>
        <small><%= "#{ActionController::Base.helpers.distance_of_time_in_words Time.now, Time.now} ago" %></small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body <%= key == 'notice' ? 'text-success' : 'text-danger' %>">
        <%= value %>
      </div>
    </div>
  </div>
<% end %>
