<% flash.each do |key, value| %>
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div class="toast show border border-2 rounded <%= key == 'notice' ? 'toast-success border-success' : 'toast-danger border-danger' %>" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag 'logo.png', alt: 'Logo', title: 'Home', class: 'footer-logo' %>
        <% end %>
        <strong class="me-auto"></strong>
        <small>
          <% if signed_in? %>
            <%= Time.now.in_time_zone(current_user.timezone).strftime('%l:%M%P') %>
          <% else %>
            <%= key.capitalize %>
          <% end %>
        </small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body fw-bold <%= key == 'notice' ? 'text-success' : 'text-danger' %>">
        <%= value %>
      </div>
    </div><!-- .toast .show .border -->
  </div><!-- .position-fixed -->

  <!-- Alert flash at top of page -->
  <!-- <div class="container">
    <div class="d-flex justify-content-between alert <%#= key == 'notice' ? 'alert-primary' : 'alert-danger' %>" role="alert">
      <%#= value %>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div> -->
<% end %>
