<div class="bg-dark text-light">
  <footer class="container px-5 py-5">
    <div class="row">
      <div class="col-6 col-md">
        <h5>
          <i class="bi bi-journals me-1"></i>
          Legal
        </h5>
        <ul class="list-unstyled text-small">
          <li class="my-1">
            <%= link_to 'Terms and Conditions', pages_terms_and_conditions_path, class: 'link-secondary' %>
          </li>
          <li class="my-1">
            <%= link_to 'Privacy Policy', pages_privacy_policy_path, class: 'link-secondary' %>
          </li>
          <li class="my-1">
            <%= link_to 'Cookie Policy', pages_cookie_policy_path, class: 'link-secondary' %>
          </li>
        </ul><!-- .list-unstyled .text-small -->
      </div><!-- .col-6 .col-md -->
      <div class="col-6 col-md">
        <h5>
          <i class="bi bi-emoji-wink me-1"></i>
          Social
        </h5>
        <ul class="list-unstyled text-small">
          <li class="my-1">
            <a href="https://github.com/TonyMaseda/" target= "_blank" class="link-secondary" title="Github">Github</a>
          </li>
          <li class="my-1">
            <a href="https://www.youtube.com/channel/UCTF8-ine9K2DPLfFV9UCzTQ" target= "_blank" class="link-secondary" title="Youtube">Youtube</a>
          </li>
          <li class="my-1">
            <a href="mailto:<%= ENV["GMAIL_USERNAME"] %>?subject=RRB Contact" class="link-secondary" title="Email">Email</a>
          </li>
        </ul><!-- .list-unstyled .text-small -->
      </div><!-- .col-6 .col-md -->
      <div class="col-6 col-md">
        <h5>
          <i class="bi bi-layers me-1"></i>
          About
        </h5>
        <ul class="list-unstyled text-small">
          <li class="my-1">
            <%= link_to 'Public Statistics', pages_public_statistics_path, data: { turbo: false }, class: 'link-secondary' %>
          </li>
          <li class="my-1">
            <%= link_to 'Site Map', pages_sitemap_path, class: 'link-secondary' %>
          </li>
        </ul><!-- .list-unstyled .text-small -->
      </div><!-- .col-6 .col-md -->
      <div class="col-6 col-md">
        <h5>
          <i class="bi bi-tsunami me-1"></i>
          Misc
        </h5>
        <ul class="list-unstyled text-small">
          <li class="my-1">
            <%= link_to 'Cheat Sheet', pages_cheat_sheet_path, class: 'link-secondary' %>
          </li>
        </ul><!-- .list-unstyled .text-small -->
      </div><!-- .col-6 .col-md -->
      <div class="col-12 col-md mt-5 text-end">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag 'logo.png', alt: 'Logo', title: 'Home', class: 'footer-logo' %>
        <% end %>
        <small class="d-block mt-3">&copy; 2020 &#8211; <%= Time.current.year %></small>
        <small class="d-block mt-2">All Rights Reserved</small>
      </div><!-- .col-12 .col-md -->
    </div><!-- .row -->
  </footer><!-- .container .px-5 .py-5 -->
</div><!-- .bg-dark .text-light -->
