<nav class="footer-navbar navbar navbar-dark bg-dark text-white pt-4 pb-1">
  <footer class="container">
    <!-- Left -->
    <div>
      <p class="small">&copy; 2020 &#8211; <%= Time.current.year %>. All Rights Reserved. </p>
      <p class="small">Rails React Bootstrap</p>
    </div>
    <!-- Right -->
    <div class="mb-3">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-lg btn-secondary" data-bs-toggle="modal" data-bs-target="#footerModal"><i class="bi bi-list"></i></button>
      <!-- Modal -->
      <div class="modal fade" id="footerModal" tabindex="-1" role="dialog" aria-labelledby="footerModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="footerModalLabel">
                <%= link_to root_path, class: 'navbar-brand' do %>
                  <%= image_tag 'logo.png', alt: 'Logo', title: 'Home', class: 'footer-logo' %>
                <% end %>
              </h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="modal" aria-label="Close"></button>
            </div><!-- .modal-header -->
            <div class="modal-body">
              <div class="my-3 p-3 bg-white">
                <h5 class="border-bottom border-gray pb-1 mb-0">Legal</h5>
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <%= link_to pages_terms_and_conditions_path do %>
                        <i class="bi bi-book-fill me-1"></i>
                        Terms and Conditions
                      <% end %>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <%= link_to pages_privacy_policy_path do %>
                        <i class="bi bi-book-fill me-1"></i>
                        Privacy Policy
                      <% end %>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <%= link_to pages_cookie_policy_path do %>
                        <i class="bi bi-book-fill me-1"></i>
                        Cookie Policy
                      <% end %>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
                <% if user_signed_in? %>
                  <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <strong class="d-block">
                        <%= link_to pages_sitemap_path do %>
                          <i class="bi bi-book-fill me-1"></i>
                          Sitemap
                        <% end %>
                      </strong>
                    </p><!-- .media-body -->
                  </div><!-- .media -->
                <% end %>
                <h5 class="border-bottom border-gray pt-5 pb-1 mb-0">Social</h5>
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <a href="mailto:railsreactbootstrap@gmail.com" title="Email"><i class="bi bi-envelope-fill me-1"></i> Email</a>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <a href="https://github.com/TonyMaseda/rails-react-bootstrap" target= "_blank" title="Github"><i class="bi bi-github me-1"></i> Github</a>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
                <div class="media text-muted pt-3">
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block">
                      <a href="https://www.youtube.com/channel/UCTF8-ine9K2DPLfFV9UCzTQ" target= "_blank" title="Youtube"><i class="bi bi-youtube me-1"></i> Youtube</a>
                    </strong>
                  </p><!-- .media-body -->
                </div><!-- .media -->
              </div><!-- .my-3 p-3 bg-white rounded shadow-sm -->
            </div><!-- .modal-body -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
            </div><!-- .modal-footer -->
          </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
      </div><!-- .modal -->
    </div><!-- .mb-3 -->
  </footer><!-- .container -->
</nav><!-- .footer-navbar -->
