<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to root_path, data: { turbo: false }, class: 'navbar-brand text-decoration-none' do %>
        <%= image_tag 'logo.png', alt: 'Logo', class: 'header-logo bi pb-1 me-2', title: 'Home' %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- LEFT -->
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <% if user_signed_in? %>
            <li class="nav-item dropdown" title="Profile">
              <a class="<%= controller.class == UsersController ? 'active' : '' %> nav-link dropdown-toggle" href="#" id="dropdownUser" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="burger-icon bi bi-person"></i> <span class="burger-text">Profile</span></a>
              <div class="dropdown-menu shadow-lg" aria-labelledby="dropdownUser">
                <%= link_to(current_user, class: "dropdown-item") do %>
                  <span class="text-info"><%= current_user.name %></span>
                <% end %>
                <%= link_to edit_user_registration_path, data: { turbo: false }, class: 'dropdown-item' do %>
                  Edit Profile
                <% end %>
                <%= link_to(destroy_user_session_path, method: :delete, data: { turbo: false }, class: "dropdown-item") do %>
                  Sign out
                <% end %>
              </div><!-- .dropdown-menu .shadow-lg -->
            </li><!-- .nav-item .dropdown -->

            <% if current_user.has_role?(:superadmin) %>
              <li class="nav-item dropdown" title="Users">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownRole" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="burger-icon bi bi-people"></i> <span class="burger-text">Users</span></a>
                <div class="dropdown-menu shadow-lg" aria-labelledby="dropdownRole">
                  <%= link_to(visitors_path, class: "dropdown-item") do %>
                    Free Users
                  <% end %>
                  <%= link_to(members_path, class: "dropdown-item") do %>
                    Members
                  <% end %>
                  <%= link_to(new_admin_path, class: "dropdown-item") do %>
                    Admins
                  <% end %>
                  <%= link_to(new_superadmin_path, class: "dropdown-item") do %>
                    Super Admins
                  <% end %>
                </div><!-- .dropdown-menu .shadow-lg -->
              </li><!-- .nav-item .dropdown -->
            <% end %>

            <li class="nav-item dropdown" title="Blog">
              <a class="<%= controller.class == ArticlesController ? 'active' : '' %> nav-link dropdown-toggle" href="#" id="dropdownArticle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="burger-icon bi bi-book"></i> <span class="burger-text">Blog</span></a>
              <div class="dropdown-menu shadow-lg" aria-labelledby="dropdownArticle">
                <%= link_to(articles_path, class: "dropdown-item") do %>
                  View Blog
                <% end %>
                <%# if user_signed_in? ## In event that authorize_user is removed ## %>
                  <%= link_to 'New Article', new_article_path, class: 'dropdown-item' %>
                <%# end %>
              </div><!-- .dropdown-menu .shadow-lg -->
            </li><!-- .nav-item .dropdown -->

            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="ToDo List">
              <%= link_to(todo_items_path, class: "#{controller.class == TodoItemsController ? 'active' : ''} nav-link") do %>
                <i class="burger-icon bi bi-card-checklist"></i>
                <span class="burger-text">List</span>
              <% end %>
            </li><!-- .nav-item -->

            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chat">
              <%= link_to(rooms_path, class: "#{controller.class == RoomsController ? 'active' : ''} nav-link") do %>
                <i class="burger-icon bi bi-chat"></i>
                <span class="burger-text">Chat</span>
              <% end %>
            </li><!-- .nav-item .dropdown -->
          <% end %>
        </ul>

        <!-- RIGHT -->
        <% if user_signed_in? %>
          <form class="d-flex">
            <input class="form-control border-dark pt-1 pb-1 me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </form>
        <% else %>
          <div class="d-flex">
            <%= link_to('Sign in', new_user_session_path, data: { turbo: false }, class: "nav-link text-light text-center") %>
            <%= link_to("Sign up", new_user_registration_path, data: { turbo: false }, class: "nav-link nav-link-border text-light text-center") %>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</header>
