<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', alt: 'Logo', title: 'Home', class: 'header-logo' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="<%= controller.class == TodoItemsController ? 'active' : '' %> nav-item" title="List">
            <%= link_to(todo_items_path, class: "nav-link", data: { turbo: false }) do %>
              <i class="fas fa-clipboard-list burger-icon"></i>
              <span class="burger-text">List</span>
            <% end %>
          </li><!-- .nav-item -->
          <li class="<%= controller.class == ArticlesController ? 'active' : '' %> nav-item dropdown" title="Blog">
            <a class="nav-link dropdown-toggle" href="" id="dropdownArticle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-th burger-icon"></i> <span class="burger-text">Blog</span></a>
            <div class="dropdown-menu shadow-lg" aria-labelledby="dropdownArticle">
              <%= link_to(articles_path, class: "dropdown-item") do %>
                View Blog
              <% end %>
              <%# if user_signed_in? ## In event that authorize_user is removed ## %>
                <%= link_to 'New Article', new_article_path, class: 'dropdown-item' %>
              <%# end %>
            </div><!-- .dropdown-menu .shadow-lg -->
          </li><!-- .nav-item .dropdown -->
          <li class="<%= controller.class == RoomsController ? 'active' : '' %> nav-item dropdown" title="Video Chat">
            <a class="nav-link dropdown-toggle" href="" id="dropdownRoom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-comments burger-icon"></i> <span class="burger-text">Video Chat</span></a>
            <div class="dropdown-menu shadow-lg" aria-labelledby="dropdownRoom">
              <%= link_to(rooms_path, class: "dropdown-item") do %>
                View Rooms
              <% end %>
              <% if can? :manage, Room %>
                <%= link_to 'New Room', new_room_path, class: 'dropdown-item' %>
              <% end %>
            </div><!-- .dropdown-menu .shadow-lg -->
          </li><!-- .nav-item .dropdown -->
          <% if current_user.has_role?(:superadmin) %>
            <li class="<%= controller.class == PagesController ? 'active' : '' %> nav-item dropdown" title="Users">
              <a class="nav-link dropdown-toggle" href="" id="dropdownRole" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users burger-icon"></i> <span class="burger-text">Users</span></a>
              <div class="dropdown-menu shadow-lg" aria-labelledby="dropdownRole">
                <%= link_to(visitors_path, class: "dropdown-item") do %>
                  Free Users
                <% end %>
                <%= link_to(members_path, class: "dropdown-item") do %>
                  Members
                <% end %>
                <%= link_to(new_admin_path, class: "dropdown-item") do %>
                  Admins
                <% end %>
                <%= link_to(new_superadmin_path, class: "dropdown-item") do %>
                  Super Admins
                <% end %>
              </div><!-- .dropdown-menu .shadow-lg -->
            </li><!-- .nav-item .dropdown -->
          <% end %>
          <li class="<%= controller.class == UsersController ? 'active' : '' %> nav-item dropdown" title="Profile">
            <a class="nav-link dropdown-toggle" href="" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-secret burger-icon"></i> <span class="burger-text">Profile</span></a>
            <div class="dropdown-menu shadow-lg" aria-labelledby="dropdownUser">
              <%= link_to(current_user, class: "dropdown-item") do %>
                <span class="text-info"><%= current_user.name %></span>
              <% end %>
              <%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class: "form-signin" }) do |f| %>
                <div class="custom-control custom-switch text-center mt-3 mb-3">
                  <%= f.check_box :dark_theme, class: "custom-control-input", id: "inputTheme", data: {'user-id': current_user.id} %>
                  <label class="custom-control-label text-secondary" for="inputTheme">Theme</label>
                </div><!-- .custom-control .custom-switch -->
              <% end %>
              <!-- Toggle Themes -->
              <script>
                $('input[type=checkbox]#inputTheme').each(function(index, element) {
                  return $(element).change(function(e) {
                    var user_id;
                    user_id = $(e.currentTarget).data('user-id');
                    return $.ajax({
                      url: '/users/' + user_id + '/toggle_theme',
                      type: 'PUT',
                      error: function(jqXHR, textStatus, errorThrown) {
                        return console.log('user ajax error: ' + textStatus);
                      },
                      success: function(data, textStatus, jqXHR) {
                        // show change + handle turbolinks
                        return location.reload();
                      }
                    });
                  });
                });
              </script>
              <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
                Edit Profile
              <% end %>
              <%= link_to(destroy_user_session_path, method: :delete, class: "dropdown-item") do %>
                Sign out
              <% end %>
            </div><!-- .dropdown-menu .shadow-lg -->
          </li><!-- .nav-item .dropdown -->
        <% else %>
          <li class="nav-item">
            <%= link_to('Sign in', new_user_session_path, class: "nav-link") %>
          </li><!-- .nav-item -->
          <li class="nav-item">
            <%= link_to("Sign up", new_user_registration_path, class: "nav-link nav-link-border") %>
          </li><!-- .nav-item -->
        <% end %>
      </ul><!-- .navbar-nav -->
    </div><!-- .navbar-collapse -->
  </div><!-- .container -->
</nav><!-- .navbar -->
