<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-fixed w-100 z-eleven p-0">
    <div class="container">
      <%= link_to root_path, data: { turbo: false }, class: 'navbar-brand text-decoration-none' do %>
        <%= image_tag 'logo.png', alt: 'Logo', class: 'header-logo bi pb-1 me-2', title: 'Home' %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- LEFT -->
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <% if user_signed_in? %>
            <li class="nav-item dropdown" title="Profile">
              <a class="<%= controller.class == UsersController ? 'active' : '' %> nav-link dropdown-toggle" href="#" id="dropdownUser" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="burger-icon bi bi-person"></i> <span class="burger-text">Profile</span></a>
              <div class="dropdown-menu shadow-lg" aria-labelledby="dropdownUser">
                <%= link_to(current_user, class: "dropdown-item") do %>
                  <span class="text-info"><%= current_user.name %></span>
                <% end %>
                <!-- Theme Toggle: markup -->
                <%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class: "" }) do |f| %>
                  <div class="py-2 px-3 rounded-pill">
                    <div class="form-check form-switch">
                      <%= f.check_box :dark_theme, class: "form-check-input theme-toggle pointer", role: 'switch', data: {'user-id': current_user.id} %>
                      <small>Dark Theme</small>
                    </div>
                  </div>
                <% end %>
                <!-- Theme Toggle: script -->
                <script>
                  // console.log(document.cookie);
                  var element = document.body;
                  // Set Cookie
                  function setCookie(name,value,days) {
                    if (days) {
                      var date = new Date();
                      date.setTime(date.getTime()+(days*24*60*60*1000));
                      var expires = "; expires="+date.toGMTString();
                    }
                    else var expires = "";
                    document.cookie = name+"="+value+expires+"; path=/";
                  }
                  // Get Cookie
                  function getCookie(key) {
                    var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
                    return keyValue ? keyValue[2] : null;
                    // console.log(getCookie('theme'));
                  }
                  // PUT toggle current_user dark_theme boolean
                  function toggleField() {
                    const csrf = document.querySelector("meta[name='csrf-token']").getAttribute("content");
                    fetch('/users/' + document.querySelector('.theme-toggle').getAttribute('data-user-id') + '/toggle_theme', {
                      method: 'PUT',
                      headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRF-Token': csrf
                      },
                    });
                  }
                  // Toggle Theme
                  document.querySelector(".theme-toggle").addEventListener('change', (e) => {
                    element.style.transition = "1s";
                    if (document.querySelector('.theme-toggle').checked == false) {
                      setCookie('theme','1', '30');
                      element.classList.remove("dark-mode");
                      toggleField();
                      // console.log('light(1) --  ' + getCookie('theme'));
                    } else {
                      setCookie('theme','2', '30');
                      element.classList.add("dark-mode");
                      toggleField();
                      // console.log('dark(2) -- ' + getCookie('theme'));
                    }
                  });
                  // Page Load
                  if (getCookie('theme') == 2) {
                    setCookie('theme','2', '30');
                    document.querySelector('.theme-toggle').checked = true;
                    element.classList.add("dark-mode");
                  } else { // == 1 OR null
                    document.querySelector('.theme-toggle').checked = false;
                  }
                </script>
                <%= link_to edit_user_registration_path, data: { turbo: false }, class: 'dropdown-item' do %>
                  Edit Profile
                <% end %>
                <%= link_to(destroy_user_session_path, method: :delete, data: { turbo: false }, class: "dropdown-item") do %>
                  Sign out
                <% end %>
              </div><!-- .dropdown-menu .shadow-lg -->
            </li><!-- .nav-item .dropdown -->
            <% if current_user.has_role?(:superadmin) %>
              <li class="nav-item dropdown" title="Users">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownRole" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="burger-icon bi bi-people"></i> <span class="burger-text">Users</span></a>
                <div class="dropdown-menu shadow-lg" aria-labelledby="dropdownRole">
                  <%= link_to(visitors_path, class: "dropdown-item") do %>
                    Free Users
                  <% end %>
                  <%= link_to(members_path, class: "dropdown-item") do %>
                    Members
                  <% end %>
                  <%= link_to(new_admin_path, class: "dropdown-item") do %>
                    Admins
                  <% end %>
                  <%= link_to(new_superadmin_path, class: "dropdown-item") do %>
                    Super Admins
                  <% end %>
                </div><!-- .dropdown-menu .shadow-lg -->
              </li><!-- .nav-item .dropdown -->
            <% end %>
            <li class="nav-item dropdown" title="Blog">
              <a class="<%= controller.class == ArticlesController ? 'active' : '' %> nav-link dropdown-toggle" href="#" id="dropdownArticle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="burger-icon bi bi-book"></i> <span class="burger-text">Blog</span></a>
              <div class="dropdown-menu shadow-lg" aria-labelledby="dropdownArticle">
                <%= link_to(articles_path, class: "dropdown-item") do %>
                  View Blog
                <% end %>
                <%# if user_signed_in? ## In event that authorize_user is removed ## %>
                  <%= link_to 'New Article', new_article_path, class: 'dropdown-item' %>
                <%# end %>
              </div><!-- .dropdown-menu .shadow-lg -->
            </li><!-- .nav-item .dropdown -->
            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="ToDo List">
              <%= link_to(todo_items_path, class: "#{controller.class == TodoItemsController ? 'active' : ''} nav-link") do %>
                <i class="burger-icon bi bi-card-checklist"></i>
                <span class="burger-text">List</span>
              <% end %>
            </li><!-- .nav-item -->
            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chat">
              <%= link_to(rooms_path, data: { turbo: false }, class: "#{controller.class == RoomsController ? 'active' : ''} nav-link") do %>
                <i class="burger-icon bi bi-chat"></i>
                <span class="burger-text">Chat</span>
              <% end %>
            </li><!-- .nav-item .dropdown -->
          <% end %>
        </ul>
        <!-- RIGHT -->
        <% if user_signed_in? %>
          <form class="d-flex">
            <input class="form-control border-dark pt-1 pb-1 me-2 my-2" type="search" placeholder="Search" aria-label="Search">
            <!--
            <button class="btn btn-outline-transparent text-warning" type="submit">
              <i class="bi bi-search"></i>
            </button>
            -->
          </form>
        <% else %>
          <div class="d-flex mt-1 mb-2 welcome-nav-links">
            <%= link_to('Sign in', new_user_session_path, data: { turbo: false }, class: "nav-link btn bg-jam text-light fw-bold border-dark rounded-pill") %>
            <%#= link_to("Sign up", new_user_registration_path, data: { turbo: false }, class: "nav-link text-light") %>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</header>
