<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <%= link_to "Rails React Bootstrap", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="<%= controller.class == PagesController ? 'active' : '' %> nav-item" title="List">
            <%= link_to(root_path, class: "nav-link") do %>
              <i class="fas fa-clipboard-list burger-icon"></i>
              <span class="burger-text">List</span>
            <% end %>
          </li><!-- .nav-item -->
          <li class="<%= controller.class == ArticlesController ? 'active' : '' %> nav-item" title="Blog">
            <%= link_to(articles_path, class: "nav-link") do %>
              <i class="fas fa-th burger-icon"></i>
              <span class="burger-text">Blog</span>
            <% end %>
          </li><!-- .nav-item -->
          <li class="<%= controller.class == UsersController ? 'active' : '' %> nav-item" title="Users">
            <%= link_to(users_path, class: "nav-link") do %>
              <i class="fas fa-users burger-icon"></i>
              <span class="burger-text">Users</span>
            <% end %>
          </li><!-- .nav-item -->
          <li class="nav-item" title="Profile">
            <%= link_to(edit_user_registration_path, class: "nav-link") do %>
              <i class="fas fa-user burger-icon"></i>
              <span class="burger-text">Profile</span>
            <% end %>
          </li><!-- .nav-item -->
          <li class="nav-item" title="Logout">
            <%= link_to(destroy_user_session_path, method: :delete, class: "nav-link") do %>
              <i class="fas fa-sign-out-alt burger-icon"></i>
              <span class="burger-text">Logout</span>
            <% end %>
          </li><!-- .nav-item -->
        <% else %>
          <li class="nav-item">
            <%= link_to('Sign in', new_user_session_path, class: "nav-link") %>
          </li><!-- .nav-item -->
          <li class="nav-item">
            <%= link_to("Sign up", new_user_registration_path, class: "nav-link nav-link-border") %>
          </li><!-- .nav-item -->
        <% end %>
      </ul><!-- .navbar-nav -->
    </div><!-- .navbar-collapse -->
  </div><!-- .container -->
</nav><!-- .navbar -->
