<div class="col-lg-7">
  <div class="row mb-5">
    <div class="col-12 mt-3 text-left">
      <section class="mt-0">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>Email</th>
                <td><%= mail_to truncate(current_user.email), current_user.email, class: 'text-info font-weight-bold' %></td>
              </tr>
              <tr>
                <th>Role</th>
                <td><%= current_user.roles.first.name if current_user.roles.present? %></td>
              </tr>
              <tr>
                <th>Joined</th>
                <td><%= current_user.created_at.in_time_zone("#{current_user.timezone}").strftime('%b %-d, %Y') %></td>
              </tr>
              <tr>
                <th>Updated</th>
                <td><%= current_user.updated_at.in_time_zone("#{current_user.timezone}").strftime('%b %-d, %Y') %></td>
              </tr>
              <tr>
                <th>Current Login</th>
                <td><%= current_user.current_sign_in_at.in_time_zone("#{current_user.timezone}").strftime('%b %-d, %Y') %></td>
              </tr>
              <tr>
                <th>Current Login IP</th>
                <td><%= current_user.current_sign_in_ip %></td>
              </tr>
              <tr>
                <th>Last Login</th>
                <td><%= current_user.last_sign_in_at.in_time_zone("#{current_user.timezone}").strftime('%b %-d, %Y') %></td>
              </tr>
              <tr>
                <th>Last Login IP</th>
                <td><%= current_user.last_sign_in_ip %></td>
              </tr>
              <tr>
                <th>Timezone</th>
                <td><%= current_user.timezone %></td>
              </tr>
              <tr>
                <th>ToDo Items</th>
                <td><%= current_user.todo_items.count %></td>
              </tr>
              <tr>
                <th>Articles</th>
                <td><%= current_user.articles.count %></td>
              </tr>
            </tbody>
          </table><!-- .table .table-striped -->
        </div><!-- .table-responsive -->
      </section><!-- .text-center mt-0 -->
    </div><!-- .col-12 -->
  </div><!-- .row .mb-5 -->
</div><!-- .col-lg-7 -->
<div class="col-lg-1 pb-1"></div>
<div class="col-lg-4">
  <p class="mt-2">
    <%= pie_chart api_v1_charts_complete_incomplete_single_todos_path, legend: false, download: {background: "#ffffff"}, colors: ["rgba(0,0,0,0.3)", "rgba(0,0,0,0.7)"], title: "My List Status" %>
  </p><!-- .mt-3 -->
  <p class="mt-3 mb-5">
    <%= column_chart api_v1_charts_month_of_year_single_todos_path, download: {background: "#ffffff"}, colors: ["rgba(0,0,0,0.5)"], title: "My Todo Items" %>
  </p><!-- .mt-3 mb-5 -->
</div><!-- .col-lg-4 -->
