<div class="col-lg-3 pt-0 mt-1 mb-5">
  <%= pie_chart api_v1_charts_user_timezones_path, donut: true, refresh: 1200, legend: false, download: {background: "#ffffff"}, colors: chart_colors, title: "Timezones" %>
</div><!-- .col-lg-3 -->
<div class="col-lg-3 pt-0 mt-1 mb-5">
  <%= pie_chart api_v1_charts_visit_country_path, donut: true, refresh: 1200, legend: false, download: {background: "#ffffff"}, colors: chart_colors, title: "Country" %>
</div><!-- .col-lg-3 -->
<div class="col-lg-3 pt-0 mt-1 mb-5">
  <%= pie_chart api_v1_charts_visit_region_path, donut: true, refresh: 1200, legend: false, download: {background: "#ffffff"}, colors: chart_colors, title: "Region" %>
</div><!-- .col-lg-3 -->
<div class="col-lg-3 pt-0 mt-1 mb-5">
  <%= pie_chart api_v1_charts_visit_city_path, donut: true, refresh: 1200, legend: false, download: {background: "#ffffff"}, colors: chart_colors, title: "City" %>
</div><!-- .col-lg-3 -->
<div class="col-lg-3 mt-1 mb-4">
  <%= pie_chart api_v1_charts_device_type_path, refresh: 1200, donut: true, legend: false, download: {background: "#ffffff"}, colors: chart_colors, title: "Device" %>
</div><!-- .col-lg-3 -->
<div class="col-lg-3 mt-1 mb-4">
  <%= pie_chart api_v1_charts_os_type_path, refresh: 1200, donut: true, legend: false, download: {background: "#ffffff"}, colors: chart_colors, title: "OS" %>
</div><!-- .col-lg-3 -->
<div class="col-lg-3 mt-1 mb-4">
  <%= pie_chart api_v1_charts_browser_type_path, refresh: 1200, donut: true, legend: false, download: {background: "#ffffff"}, colors: chart_colors, title: "Browser" %>
</div><!-- .col-lg-3 -->
<div class="col-lg-3 mt-1 mb-4">
  <%= pie_chart api_v1_charts_landing_pages_path, refresh: 1200, donut: true, legend: false, download: {background: "#ffffff"}, colors: chart_colors, title: "Landing Page" %>
</div><!-- .col-lg-3 -->
