<section class="features d-none d-lg-block mt-2 mb-5 p-0">
  <div class="row ps-5 pe-1" id="list-tab" role="tablist">
    <div class="col-5 text-muted list-group">
      <h4 class="jumbotron-heading text-dark my-3 pt-1">Key Features</h4>
      <a class="list-group-item list-group-item-action active" id="list-analytics-list" data-bs-toggle="list" href="#list-analytics" role="tab" aria-controls="list-analytics">
        <h6 class="mt-2"><i class='bi bi-graph-up-arrow'></i> Analytics</h6>
    	  <small class="my-3 ms-5">Chartkick, Groupdate, Geocoder &amp; Ahoy</small>
      </a>
      <a class="list-group-item list-group-item-action" id="list-authentication-list" data-bs-toggle="list" href="#list-authentication" role="tab" aria-controls="list-authentication">
        <h6 class="mt-2"><i class='bi bi-fingerprint'></i> Authentication</h6>
    	  <small class="my-3 ms-5">Devise &plus; Rolify &plus; CanCanCan</small>
      </a>
      <a class="list-group-item list-group-item-action" id="list-testing-list" data-bs-toggle="list" href="#list-testing" role="tab" aria-controls="list-testing">
        <h6 class="mt-2"><i class="bi bi-shield-check"></i> Testing</h6>
        <small class="my-3 ms-5">RSpec &plus; Brakeman &plus; PG Hero</small>
      </a>
      <a class="list-group-item list-group-item-action" id="list-look-list" data-bs-toggle="list" href="#list-look" role="tab" aria-controls="list-look">
        <h6 class="mt-2"><i class='bi bi-layout-wtf'></i> Components</h6>
    	  <small class="my-3 ms-5">Bootstrap, React, Hotwire &amp; Stimulus</small>
      </a>
      <a class="list-group-item list-group-item-action" id="list-webrtc-list" data-bs-toggle="list" href="#list-webrtc" role="tab" aria-controls="list-webrtc">
        <h6 class="mt-2"><i class='bi bi-chat'></i> WebRTC</h6>
        <small class="my-3 ms-5">STUN &amp; TURN servers via the Twilio API</small>
      </a>
    </div><!-- .col-5 -->
    <div class="col-7 mt-5">
      <div class="tab-content d-flex align-items-center" id="nav-tabContent">
        <div class="tab-pane show active" id="list-analytics" role="tabpanel" aria-labelledby="list-analytics-list">
          <%= image_tag 'features/analytics.png', alt: 'Analytics', class: 'center-img', loading: 'lazy' %>
        </div>
        <div class="tab-pane" id="list-authentication" role="tabpanel" aria-labelledby="list-authentication-list">
          <%= image_tag 'features/auth.png', alt: 'Authentication', class: 'center-img', loading: 'lazy' %>
        </div>
        <div class="tab-pane" id="list-testing" role="tabpanel" aria-labelledby="list-testing-list">
          <%= image_tag 'features/testing.png', alt: 'Test coverage', class: 'center-img', loading: 'lazy' %>
        </div>
        <div class="tab-pane" id="list-look" role="tabpanel" aria-labelledby="list-look-list">
          <%= image_tag 'features/components.png', alt: 'Modern layout', class: 'center-img', loading: 'lazy' %>
        </div>
        <div class="tab-pane" id="list-webrtc" role="tabpanel" aria-labelledby="list-webrtc-list">
          <%= image_tag 'features/webRTC.png', alt: 'Real time communication', class: 'center-img', loading: 'lazy' %>
        </div>
      </div><!-- .tab-content -->
    </div><!-- .col-7 -->
  </div><!-- .row  #list-tab -->
</section><!-- .features .d-none .d-lg-block -->
