<div class="col-lg-4 mt-1 mb-4">
  <%= line_chart api_v1_charts_month_of_year_viewed_terms_path, refresh: 300, download: {background: "#ffffff"}, points: false, colors: ["rgba(0,0,0,0.9)"], title: "Terms and Conditions" %>
</div><!-- .col-lg-4 -->
<div class="col-lg-4 mt-1 mb-4">
  <%= line_chart api_v1_charts_month_of_year_viewed_privacy_policy_path, refresh: 300, download: {background: "#ffffff"}, points: false, colors: ["rgba(0,0,0,0.9)"], title: "Privacy Policy" %>
</div><!-- .col-lg-4 -->
<div class="col-lg-4 mt-1 mb-4">
  <%= line_chart api_v1_charts_month_of_year_viewed_cookies_policy_path, refresh: 300, download: {background: "#ffffff"}, points: false, colors: ["rgba(0,0,0,0.9)"], title: "Cookie Policy" %>
</div><!-- .col-lg-4 -->
<div class="col-lg-4 mt-1 mb-4">
  <%= line_chart api_v1_charts_month_of_year_viewed_sitemap_path, refresh: 300, download: {background: "#ffffff"}, points: false, colors: ["rgba(0,0,0,0.9)"], title: "Sitemap" %>
</div><!-- .col-lg-4 -->
<div class="col-lg-4 mt-1 mb-4">
  <%= line_chart api_v1_charts_month_of_year_viewed_cheat_sheet_path, refresh: 300, download: {background: "#ffffff"}, points: false, colors: ["rgba(0,0,0,0.9)"], title: "Cheat Sheet" %>
</div><!-- .col-lg-4 -->
<div class="col-lg-4 mt-1 mb-4">
  <%= line_chart api_v1_charts_month_of_year_viewed_public_statistics_path, refresh: 300, download: {background: "#ffffff"}, points: false, colors: ["rgba(0,0,0,0.9)"], title: "Public Statistics" %>
</div><!-- .col-lg-4 -->
