<div class="col-md-4 pt-0 mt-1 mb-5">
  <%= pie_chart api_v1_charts_free_member_roles_path, refresh: 1200, legend: false, download: {background: "#ffffff"}, colors: ["rgba(0,0,0,0.7)", "rgba(0,0,0,0.5)", "rgba(0,0,0,0.3)"], title: "Users" %>
</div><!-- .col-md-4 -->
<div class="col-md-4 pt-0 mt-1 mb-5">
  <%= pie_chart api_v1_charts_free_member_articles_path, refresh: 1200, legend: false, download: {background: "#ffffff"}, colors: ["rgba(111,71,190,1)", "#17a2b8", "rgba(251,79,20,0.5)"], title: "Articles" %>
</div><!-- .col-md-4 -->
<div class="col-md-4 pt-0 mt-1 mb-5">
  <%= pie_chart api_v1_charts_complete_incomplete_todos_path, refresh: 1200, legend: false, download: {background: "#ffffff"}, colors: ["rgba(61,12,2,0.3)", "rgba(61,12,2,0.7)"], title: "List Status" %>
</div><!-- .col-md-4 -->
<div class="col-md-4 pt-0 mt-1 mb-5">
  <%= pie_chart api_v1_charts_user_themes_path, refresh: 1200, legend: false, download: {background: "#ffffff"}, colors: ["rgba(0,0,0,0.7)", "rgba(0,0,0,0.3)"], title: "Themes" %>
</div><!-- .col-md-4 -->
<div class="col-md-4 pt-0 mt-1 mb-5">
  <%= pie_chart UsersArticle.group(:article_id).count, refresh: 1200, legend: false, download: {background: "#ffffff"}, title: "Article Likes" %>
</div><!-- .col-md-4 -->
<div class="col-md-4 pt-0 mt-1 mb-5">
  <%= pie_chart api_v1_charts_chat_rooms_path, refresh: 1200, legend: false, download: {background: "#ffffff"}, colors: ["rgba(230,67,140,0.9)", "rgba(230,67,140,0.7)", "rgba(230,67,140,0.5)", "rgba(230,67,140,0.3)", "rgba(230,67,140,0.1)" ], title: "Chat Rooms" %>
</div><!-- .col-md-4 -->
