<h2 class="jumbotron-heading mb-0 pb-0 text-dark font-italic">Terminology</h2>

<script type="text/javascript">
  google.charts.load('current', {packages:['wordtree']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(
      [ ['Phrases'],
        <% @articles.each do |article| %>
          ['<%= "#{article.strip_text_for_tree}" %>'],

          ['<%= "#{article.strip_title_for_tree}" %>'],
        <% end %>

        <% @comments.each do |comment| %>
          ['<%= "#{comment.strip_body_for_tree}" %>'],
        <% end %>

        <% @rooms.each do |room| %>
          ['<%= "#{room.strip_name_for_tree}" %>'],
        <% end %>

        <% @todo_items.each do |todo_item| %>
          ['<%= "#{todo_item.strip_title_for_tree}" %>'],
        <% end %>
      ]
    );

    var options = {
      maxFontSize: 30,
      wordtree: {
        format: 'implicit',
        word: 'Seed article',
        fontName: 'Lobster',
        colors: ['red', 'black', 'green'],
        backgroundColor: '#fff'
      }
    };

    var chart = new google.visualization.WordTree(document.getElementById('wordtree_global'));
    chart.draw(data, options);
  }
</script>

<div id="wordtree_global" style="width:100%; max-height:900px;"></div>
