<script type="text/javascript">
  google.charts.load('current', {packages:['wordtree']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(
      [ ['Phrases'],
        <% @article_titles.each do |article_title| %>
          ['<%= "#{article_title.strip_title_for_tree}" %>'],
        <% end %>

        <% @article_texts.each do |article_text| %>
          ['<%= "#{article_text.strip_text_for_tree}" %>'],
        <% end %>

        <% @comments.each do |comment| %>
          ['<%= "#{comment.strip_body_for_tree}" %>'],
        <% end %>

        <% @rooms.each do |room| %>
          ['<%= "#{room.strip_name_for_tree}" %>'],
        <% end %>

        <% @notes.each do |note| %>
          ['<%= "#{note.strip_body_for_tree}" %>'],
        <% end %>

        <% @todo_items.each do |todo_item| %>
          ['<%= "#{todo_item.strip_title_for_tree}" %>'],
        <% end %>
      ]
    );

    var options = {
      maxFontSize: 30,
      wordtree: {
        format: 'implicit',
        word: document.getElementById("root").value,
        Default: 'suffix'
      }
    };

    var chart = new google.visualization.WordTree(document.getElementById('wordtree_global'));
    chart.draw(data, options);
  }
</script>

<div class="jumbotron">
  <div class="container">
    <h4 class="jumbotron-heading text-dark font-italic">Word Tree</h4>
    <ul class="lead text-start text-muted small">
      <li class="d-inline">
        <%= "#{@article_titles.count} blog-titles" %><b> , </b>
      </li>
      <li class="d-inline">
        <%= "#{@article_texts.count} blog-texts" %><b> , </b>
      </li>
      <li class="d-inline">
        <%= "#{@comments.count} comments" %><b> , </b>
      </li>
      <li class="d-inline">
        <%= "#{@rooms.count} rooms" %><b> , </b>
      </li>
      <li class="d-inline">
        <%= "#{@notes.count} notes" %><b> , </b>
      </li>
      <li class="d-inline">
        <%= "#{@todo_items.count} list-items" %>
      </li>
    </ul>
    <div class="filter">
      <input type="search" id="root" class="form-control" placeholder="Search word(s)" value="" onchange="drawChart()">
    </div><!-- .filter -->
  </div><!-- .container -->

  <div id="wordtree_global" class="w-100 mt-2"></div>
</div><!-- .jumbotron -->
