<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Dashboard</h1>
    <p class="lead text-left text-muted">Use the header links to see the blog &plus; todo list. In lieu of roles and/or memberships, this dashboard allows all users to see an admin view.</p>
    <div class="filter">
      <%= render partial: 'pages/search', locals: { action: root_path, q: '' } %>
    </div><!-- .filter -->
  </div><!-- .container -->
</section><!-- .jumbotron -->

<section class="mt-0 text-center">
  <div class="row">
    <div class="col-lg-7">
      <div class="row mb-5">
        <div class="col-12 mt-3 text-left">
          <%= render partial: 'users/users' %>
        </div><!-- .col-12 -->
        <div class="col-md-4">
          <div class="pt-0 mt-3 mb-5">
            <%= pie_chart User.group(:email).count, download: {background: "#ffffff"}, legend: false, title: "User Emails" %>
          </div><!-- .pt-0 mt-3 mb-5 -->
        </div><!-- .col-md-4-->
        <div class="col-md-4">
          <div class="pt-0 mt-3 mb-5">
            <%= pie_chart Article.group(:title).count, download: {background: "#ffffff"}, legend: false, title: "Article Titles" %>
          </div><!-- .pt-0 mt-3 mb-5 -->
        </div><!-- .col-md-4 -->
        <div class="col-md-4">
          <div class="pt-0 mt-3 mb-5">
            <%= pie_chart charts_complete_incomplete_todos_path, legend: false, refresh: 55, download: {background: "#ffffff"}, colors: ["rgba(61,12,2,0.3)", "rgba(61,12,2,0.7)"], title: "List Status" %>
          </div><!-- .pt-0 mt-3 mb-5 -->
        </div><!-- .col-md-4 -->
      </div><!-- .row .mb-5 -->
    </div><!-- .col-lg-7 -->
    <div class="col-lg-1 pb-1"></div>
    <div class="col-lg-4">
      <p class="mt-3">
        <%= column_chart charts_month_of_year_users_path, refresh: 55, download: {background: "#ffffff"}, colors: ["#17a2b8"], title: "Users" %>
      </p><!-- .mt-3 -->
      <p class="mt-3 mb-5">
        <%= column_chart charts_month_of_year_articles_path, refresh: 55, download: {background: "#ffffff"}, colors: ["rgba(251,79,20,0.5)"], title: "Articles" %>
      </p><!-- .mt-3 mb-5 -->
      <p class="mt-3 mb-5">
        <%= column_chart charts_month_of_year_todos_path, refresh: 55, download: {background: "#ffffff"}, colors: ["rgba(61,12,2,0.5)"], title: "Todo Items" %>
      </p><!-- .mt-3 mb-5 -->
    </div><!-- .col-lg-4 -->
  </div><!-- .row -->
</section><!-- .mt-0 .text-center -->
