<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Dashboard</h1>
    <p class="lead text-left text-muted">Use the header links to see the blog &plus; todo list. In lieu of roles and/or memberships, this dashboard allows all users to see an admin view.</p>
    <div class="filter">
      <%= render partial: 'pages/search', locals: { action: root_path, q: '' } %>
    </div><!-- .filter -->
  </div><!-- .container -->
</section><!-- .jumbotron -->

<section class="container mt-0">
  <div class="row text-center">
    <div class="col-xl-4">
      <h6 class="text-muted mt-5 mb-1 pb-0">
        <strong class="text-gray-dark">Users</strong>
      </h6><!-- . -->
      <p class="mt-0">
        <%= column_chart charts_month_of_year_users_path, refresh: 55, download: true, colors: ["#17a2b8"] %>
      </p><!-- .mt-0 -->
      <h6 class="text-muted mt-5 mb-1 pb-0">
        <strong class="text-gray-dark">Articles</strong>
      </h6><!-- . -->
      <p class="mt-0">
        <%= column_chart charts_month_of_year_articles_path, refresh: 55, download: true, colors: ["rgba(251,79,20,0.5)"] %>
      </p><!-- .mt-0 -->
      <h6 class="text-muted mt-5 mb-1 pb-0">
        <strong class="text-gray-dark">Todo Items</strong>
      </h6><!-- . -->
      <p class="mt-0">
        <%= column_chart charts_month_of_year_todos_path, refresh: 55, download: true, colors: ["rgba(61,12,2,0.5)"] %>
      </p><!-- .mt-0 -->
    </div><!-- .col-xl-4 -->
    <div class="col-xl-1"></div>
    <div class="col-xl-7">
      <div class="row">
        <div class="col-md-4">
          <h6 class="text-muted mt-5 mb-1 pb-0">
            <strong class="text-gray-dark">User Emails</strong>
          </h6><!-- . -->
          <div class="pt-0 mt-0 mb-5">
            <%= pie_chart User.group(:email).count, download: true, legend: false %>
          </div><!-- . -->
        </div><!-- .col-md-4-->
        <div class="col-md-4">
          <h6 class="text-muted mt-5 mb-1 pb-0">
            <strong class="text-gray-dark">Article Titles</strong>
          </h6><!-- . -->
          <div class="pt-0 mt-0 mb-5">
            <%= pie_chart Article.group(:title).count, download: true, legend: false %>
          </div><!-- . -->
        </div><!-- .col-md-4 -->
        <div class="col-md-4">
          <h6 class="text-muted mt-5 mb-1 pb-0">
            <strong class="text-gray-dark">Todo Item Titles</strong>
          </h6><!-- . -->
          <div class="pt-0 mt-0 mb-5">
            <%= pie_chart TodoItem.group(:title).count, download: true, legend: false %>
          </div><!-- . -->
        </div><!-- .col-md-4 -->
        <div class="col-12 text-left">
          <%= render partial: 'users/users' %>
        </div><!-- .col-12 -->
      </div><!-- .row -->
    </div><!-- .col-xl-7 -->
  </div><!-- .row -->
</section><!-- .container -->
