<% if current_user.has_role?(:superadmin) %>

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Dashboard</h1>
      <p class="lead text-left text-muted">Hi, <%= link_to truncate(current_user.name), current_user, class: "text-info font-weight-bold" %>, this site contains a blog &plus; todo list, as well as video chat. This dashboard provides an admin view.</p>
      <div class="filter">
        <%= render partial: 'pages/search', locals: { action: root_path, q: '' } %>
      </div><!-- .filter -->
    </div><!-- .container -->
  </section><!-- .jumbotron -->
  <section class="mt-0 mb-5 pb-5 text-center">
    <div class="row">
      <div class="col-lg-7">
        <div class="row mb-3">
          <div class="col-12 mt-3 text-left">
            <%= render partial: 'users/users' %>
          </div><!-- .col-12 -->
          <%= render partial: 'pages/pies' %>
        </div><!-- .row .mb-5 -->
      </div><!-- .col-lg-7 -->
      <div class="col-lg-1 pb-1"></div>
      <div class="col-lg-4">
        <%= render partial: 'pages/bars' %>
      </div><!-- .col-lg-4 -->
    </div><!-- .row -->
    <div class="row">
      <div class="col-lg-6 mt-1 mb-4">
        <%= area_chart api_v1_charts_month_of_year_visits_path, download: {background: "#ffffff"}, points: false, colors: ["rgba(0,0,0,0.7)"], title: "Visits" %>
      </div><!-- .col-lg-4 -->
      <div class="col-lg-6 mt-1 mb-4">
        <%= area_chart api_v1_charts_month_of_year_visit_events_path, download: {background: "#ffffff"}, points: false, colors: ["rgba(0,0,0,0.3)"], title: "Visit Events" %>
      </div><!-- .col-lg-4 -->
      <%= render partial: 'pages/columns' %>
      <%= render partial: 'pages/donuts' %>
      <%= render partial: 'pages/areas' %>
      <%= render partial: 'pages/lines' %>
    </div><!-- .row -->
  </section><!-- .mt-0 .mb-5 .pb-5 .text-center -->

<% else # admins, members, and visitors %>

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Dashboard</h1>
      <p class="lead text-left text-muted">Hi, <%= link_to truncate(current_user.name), current_user, class: "text-info font-weight-bold" %>, you can use the header links to see the ToDo List, Blog, and WebRTC. View personal analytics below:</p>
    </div><!-- .container -->
  </section><!-- .jumbotron -->
  <section class="mt-0 text-center">
    <div class="row">
      <%= render partial: 'pages/charts' %>
    </div><!-- .row -->
  </section><!-- .mt-0 .text-center -->
  <section class="text-center mt-1 pt-0 mb-5 pb-5">
    <div class="col-12">
      <%= area_chart api_v1_charts_month_of_year_single_articles_path, points: false, colors: ["rgba(0,0,0,0.9)"], title: "My Articles" %>
    </div><!-- .col-12 -->
  </section><!-- .text-center mt-0 -->

<% end %>
