<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Home</h1>
    <p class="lead text-muted">There is no actual product being sold here. The content below is example markup made with bootstrap, but we may integrate stripe later. Please <%= link_to('sign in', new_user_session_path) %> or <%= link_to("sign up", new_user_registration_path) %> to see the blog &plus; todo list.</p>
  </div>
</section>

<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header bg-tayberry">
      <h4 class="my-0 font-weight-bold text-white">Free</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li><strong>Lorem</strong></li>
        <li>Fusce dapibus donec id elit</li>
        <li>Porta gravida</li>
        <li>Justo</li>
      </ul>
      <%= link_to("Sign up for free", new_user_registration_path, class: 'btn btn-lg btn-block btn-outline-primary') %>
    </div>
  </div>
  <div class="card mb-4 shadow-sm">
    <div class="card-header bg-shnozberry">
      <h4 class="my-0 font-weight-bold text-white">Premium</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li><strong>Lorem Ipsum</strong></li>
        <li>Fusce dapibus donec id elit</li>
        <li>Porta gravida at <a href="https://github.com/TonyMaseda/rails-react-bootstrap" target="_blank">enlacita</a> eget</li>
        <li>Justo sit amet risus</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-outline-success">Start subscription</button>
    </div>
  </div>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Rails React Bootstrap</h6>
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">What's in the App?</strong>
      This is a Rails 6 (PostgreSQL) example todo and blog application that utilizes React, Coffeescript, jQuery &amp; Bootstrap to shape the frontend.
    </p>
  </div>
  <div class="media text-muted pt-3">
    <%= image_tag 'tayberry.svg', class: 'mr-2 rounded' %>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Lorem</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
  </div>
  <div class="media text-muted pt-3">
    <%= image_tag 'schnozberry.svg', class: 'mr-2 rounded' %>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Lorem Ipsum</strong>
      Donec id elit non mi porta gravida y barranco at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh <a href="https://github.com/TonyMaseda/rails-react-bootstrap" target="_blank">enlacita</a>, ut fermentum massa justo sit amet risus.
    </p>
  </div>
  <small class="d-block text-right mt-3">
    <%= link_to('Sign in', new_user_session_path) %> or <%= link_to("Sign up", new_user_registration_path) %>
  </small>
</div>
