<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Sitemap</h1>
    <p class="lead text-start text-muted">This is an example Ruby on Rails application. Join us and become part of the greatest one ever 🖖🏼</p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<section class="my-3">
  <h4 class="jumbotron-heading mb-3">
    Legal
  </h4>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 text-center">
    <div class="col">
      <div class="p-3">
        <%= link_to pages_terms_and_conditions_path do %>
          Terms and Conditions
        <% end %>
      </div>
    </div><!-- .col -->
    <div class="col">
      <div class="p-3">
        <%= link_to pages_privacy_policy_path do %>
          Privacy Policy
        <% end %>
      </div>
    </div><!-- .col -->
    <div class="col">
      <div class="p-3">
        <%= link_to pages_cookie_policy_path do %>
          Cookie Policy
        <% end %>
      </div>
    </div><!-- .col -->
  </div><!-- .row -->
</section><!-- .my-3 -->

<section class="my-3">
  <h4 class="jumbotron-heading mb-3">
    About
  </h4>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 text-center">
    <div class="col">
      <div class="p-3">
        <%= link_to pages_public_statistics_path do %>
          Public Statistics
        <% end %>
      </div>
    </div><!-- .col -->
    <div class="col">
      <div class="p-3">
        Sitemap
      </div>
    </div><!-- .col -->
  </div><!-- .row -->
</section><!-- .my-3 -->

<section class="mt-3 mb-5">
  <h4 class="jumbotron-heading mb-3">
    Misc
  </h4>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 text-center">
    <div class="col">
      <div class="p-3">
        <%= link_to pages_cheat_sheet_path do %>
          Cheat Sheet
        <% end %>
      </div>
    </div><!-- .col -->
  </div><!-- .row -->
</section><!-- .mt-3 .mb-5 -->

<% if user_signed_in? %>

  <section class="my-3">
    <h4 class="jumbotron-heading mb-3">
      ToDo List
    </h4>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 text-center">
      <div class="col">
        <div class="p-3">
          <%= link_to todo_items_path do %>
            Items
          <% end %>
        </div>
      </div><!-- .col -->
    </div><!-- .row -->
  </section><!-- .my-3 -->

  <section class="my-3">
    <h4 class="jumbotron-heading mb-3">
      Blog
    </h4>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 text-center">
      <div class="col">
        <div class="p-3">
          <%= link_to articles_path do %>
            Gallery
          <% end %>
        </div>
      </div><!-- .col -->
      <div class="col">
        <div class="p-3">
          <%= link_to new_article_path do %>
            New Article
          <% end %>
        </div>
      </div><!-- .col -->
    </div><!-- .row -->
  </section><!-- .my-3 -->

  <section class="my-3">
    <h4 class="jumbotron-heading mb-3">
      Video Chat
    </h4>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 text-center">
      <div class="col">
        <div class="p-3">
          <%= link_to rooms_path do %>
            Chat Rooms
          <% end %>
        </div>
      </div><!-- .col -->
      <% if can? :manage, Room %>
        <div class="col">
          <div class="p-3">
            <%= link_to new_room_path do %>
              New Room
            <% end %>
          </div>
        </div><!-- .col -->
      <% end %>
    </div><!-- .row -->
  </section><!-- .my-3 -->

  <section class="mt-3 mb-5">
    <h4 class="jumbotron-heading mb-3">
      Profile
    </h4>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 text-center">
      <div class="col">
        <div class="p-3">
          <%= link_to current_user do %>
            View Profile
          <% end %>
        </div>
      </div><!-- .col -->
      <div class="col">
        <div class="p-3">
          <%= link_to edit_user_registration_path, data: { turbo: false } do %>
            Edit Profile
          <% end %>
        </div>
      </div><!-- .col -->
      <div class="col">
        <div class="p-3">
          <%= link_to(destroy_user_session_path, method: :delete, data: { turbo: false }) do %>
            Sign out
          <% end %>
        </div>
      </div><!-- .col -->
    </div><!-- .row -->
  </section><!-- .mt-3 .mb-5 -->

  <% if current_user.has_role?(:superadmin) %>
    <section class="mt-3 mb-5">
      <h4 class="jumbotron-heading mb-3">
        Users
      </h4>
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 text-center">
        <div class="col">
          <div class="p-3">
            <%= link_to visitors_path do %>
              Free Users
            <% end %>
          </div>
        </div><!-- .col -->
        <div class="col">
          <div class="p-3">
            <%= link_to members_path do %>
              Members
            <% end %>
          </div>
        </div><!-- .col -->
        <div class="col">
          <div class="p-3">
            <%= link_to admins_path do %>
              Admins
            <% end %>
          </div>
        </div><!-- .col -->
        <div class="col">
          <div class="p-3">
            <%= link_to superadmins_path do %>
              Super Admins
            <% end %>
          </div>
        </div><!-- .col -->
      </div><!-- .row -->
    </section><!-- .mt-3 .mb-5 -->
  <% end # if current_user.has_role?(:superadmin) %>

  <% if current_user.has_role?(:sysadmin) %>
    <section class="mt-3 mb-5">
      <h4 class="jumbotron-heading mb-3">
        System Admin
      </h4>
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 text-center">
        <div class="col">
          <div class="p-3">
            <%= link_to '/robots.txt', target: :blank do %>
              Robots (txt)
            <% end %>
          </div>
        </div><!-- .col -->
        <div class="col">
          <div class="p-3">
            <%= link_to '/ads.txt', target: :blank do %>
              Ads (txt)
            <% end %>
          </div>
        </div><!-- .col -->
        <div class="col">
          <div class="p-3">
            <%= link_to '/sitemap.xml', target: :blank do %>
              Sitemap (xml)
            <% end %>
          </div>
        </div><!-- .col -->
        <div class="col">
          <div class="p-3">
            <%= link_to 'http://localhost:3000/rails/mailers/', data: { turbo: false }, target: :blank do %>
              Mailers (local)
            <% end %>
          </div>
        </div><!-- .col -->
        <div class="col">
          <div class="p-3">
            <%= link_to pg_hero_path, target: :blank do %>
              Database Analysis (PGHero)
            <% end %>
          </div>
        </div><!-- .col -->
      </div><!-- .row -->
    </section><!-- .mt-3 .mb-5 -->
  <% end # if current_user.has_role?(:sysadmin) %>

<% end # user_signed_in? %>
