<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome</h1>
    <p class="lead text-start text-muted">RRB is meant to serve as a repository for speedy development that keeps best, next practices in mind.</p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<div class="row row-cols-1 row-cols-md-2 mb-1 text-center">
  <div class="col">
    <div class="card mb-4 border-0 shadow">
      <div class="card-header bg-tayberry">
        <h4 class="my-0 fw-bold text-white">Free</h4>
      </div><!-- .card-header -->
      <div class="card-body">
        <h2 class="card-title pricing-card-title">$0</h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li><strong>Never Pay</strong></li>
          <li>Private ToDo List</li>
          <li>Read &amp; add to the Blog</li>
          <li>Participate in the Video Chat</li>
        </ul><!-- .ist-unstyled -->
        <%= link_to("Sign up for Free", new_user_registration_path, class: 'mb-3 w-100 btn btn-lg btn-outline-primary') %>
      </div><!-- .card-body -->
    </div><!-- .card -->
  </div><!-- .col -->
  <div class="col">
    <div class="card mb-4 border-0 shadow">
      <div class="card-header bg-shnozberry">
        <h4 class="my-0 fw-bold text-white">Membership</h4>
      </div><!-- .card-header -->
      <div class="card-body">
        <h2 class="card-title pricing-card-title">$35</h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li><strong>Pay Once</strong></li>
          <li>Github Read Access</li>
          <li>Free use in your own App</li>
          <li>Participate in <i>and create</i> Video Chats</li>
        </ul><!-- .list-unstyled -->
        <a class="mb-3 w-100 btn btn-lg btn-outline-primary" href="mailto:<%= ENV["GMAIL_USERNAME"] %>?subject=I am interested in Membership and Github Read Access">
          Inquire Today
        </a>
      </div><!-- .card-body -->
    </div><!-- .card -->
  </div><!-- .col -->
</div><!-- .row row-cols-1 row-cols-md-2 -->

<div class="my-3 p-4">
  <h4 class="jumbotron-heading pb-0 mb-0">Breakdown</h4>
  <div class="text-muted pt-3">
    <p class="pb-3 mb-0 lh-125">
      <strong class="d-block">The App</strong>
      This is a Rails <a href="https://rubygems.org/gems/rails/versions" target="_blank" class="text-info"><%= Rails.version %></a>
      (Ruby <a href="https://www.ruby-lang.org/en/downloads/releases/" target="_blank" class="text-info"><%= RUBY_VERSION %></a>)
      Blog &plus; ToDo &plus; WebRTC application packed with modern, lightweight libraries &amp; frameworks to shape the frontend.
    </p>
  </div>
  <div class="d-flex text-muted pt-3">
    <%= image_tag 'tayberry.svg', alt: 'Free', class: 'flex-shrink-0 me-2 h-25 rounded' %>
    <p class="pb-3 mb-0 lh-125">
      <strong class="d-block mt-1">Free</strong>
      Sign up and never pay for free access to this site. Included is a private ToDo List,
      full access to the Blog, and the ability to join Video Chats created by members.
      You can always decide to upgrade at any time.
    </p>
  </div>

  <div class="d-flex text-muted pt-3">
    <%= image_tag 'shnozberry.svg', alt: 'Membership', class: 'flex-shrink-0 me-2 h-25 rounded' %>
    <p class="pb-3 mb-0 lh-125">
      <strong class="d-block mt-1">Membership</strong>
      Sign up and pay once for read access to this app's repository.
      You can clone the project and create your own application(s) with best practices in place.
      This package includes the ability to join Video Chats created by YOU + other members.
      As new features are released, your early adoption will grant you access to them as well.
    </p>
  </div>
  <div class="text-muted pt-3">
    <small class="pb-0 mb-0">
      This is a side project of mine that I began in late 2020.
      The idea was to create a sandbox, outside of work, in which I could experiment with
      the various web technologies I love.
      In this project, we are leveraging (and purposely very dependent upon) modern
      gems, frameworks and libraries in order to explore the potential agility of Ruby on Rails (A gem itself).
      Collaboration fosters best practices; working with others is integral to personal growth as a developer.
      Coding solo fosters development in a freeform manner that values
      ownership over camaraderie, and craft over professional rigor.
    </small>
  </div>
  <div class="d-block text-end text-muted mt-1 me-2">
    <strong class="d-block">Tony Maseda</strong>
  </div><!-- .d-block -->
</div><!-- .my-3 p-3 card -->

<%= render partial: 'pages/features' %>
