<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome</h1>
    <p class="lead text-left text-muted">This is an example Ruby on Rails application. Join us and become part of the greatest one ever 🖖🏼</p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<div class="card-deck mb-1 text-center">
  <div class="card mb-4 border-0 shadow">
    <div class="card-header bg-tayberry">
      <h4 class="my-0 font-weight-bold text-white">Free</h4>
    </div><!-- .card-header -->
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$0</h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li><strong>Never Pay</strong></li>
        <li>Private ToDo List</li>
        <li>Read &amp; add to the Blog</li>
        <li>Participate in the Video Chat</li>
      </ul><!-- .ist-unstyled -->
      <%= link_to("Sign up for Free", new_user_registration_path, class: 'btn btn-lg btn-block btn-outline-primary') %>
    </div><!-- .card-body -->
  </div><!-- .card -->
  <div class="card mb-4 border-0 shadow">
    <div class="card-header bg-shnozberry">
      <h4 class="my-0 font-weight-bold text-white">Membership</h4>
    </div><!-- .card-header -->
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$10 <small class="text-muted">min</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li><strong>Pay Once</strong></li>
        <li>Private ToDo List</li>
        <li>Read &amp; add to the Blog</li>
        <li>Participate in <i>and create</i> Video Chats</li>
      </ul><!-- .ist-unstyled -->
      <button type="button" class="btn btn-lg btn-block btn-outline-primary">Coming Soon</button>
    </div><!-- .card-body -->
  </div><!-- .card -->
</div><!-- .card-deck -->

<div class="my-3 p-4">
  <h5 class="jumbotron-heading pb-0 mb-0">Breakdown</h5>
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125">
      <strong class="d-block text-gray-dark">The App</strong>
      This is a Rails 6 (PostgreSQL) ToDo &plus; Blog &plus; WebRTC application packed with modern, lightweight libraries &amp; frameworks to shape the frontend.
    </p>
  </div><!-- .media -->
  <div class="media text-muted pt-3">
    <%= image_tag 'tayberry.svg', alt: 'Media', class: 'mr-2 rounded' %>
    <p class="media-body pb-3 mb-0 small lh-125">
      <strong class="d-block text-gray-dark">Free</strong>
      Sign up and never pay for free access to the site. This package includes a private ToDo List, full access to the Blog, and the ability to join Video Chats created by members. You can always decide to upgrade at any time.
    </p><!-- .media-body -->
  </div><!-- .media -->
  <div class="media text-muted pt-3">
    <%= image_tag 'shnozberry.svg', alt: 'Media', class: 'mr-2 rounded' %>
    <p class="media-body pb-3 mb-0 small lh-125">
      <strong class="d-block text-gray-dark">Membership</strong>
      Sign up and pay once for total access to the site. This package includes a private ToDo List, full access to the Blog, and the ability to create + join Video Chats created by yourself + other members. As new features are released, your early adoption will grant you access to them as well.
    </p><!-- .media-body -->
  </div><!-- .media -->
  <div class="media text-muted pt-3">
    <p class="media-body pb-0 mb-0 small">
      Lorem Ipsum elit non mi Talk abot gem dependencies. Pellentesque nulla nisi, dapibus ut purus aliquam, semper lacinia purus. Fusce dapibus, tellus ac cursus pulio, e te brute y tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Proin vel purus ut nulla sodales faucibus id ut lacus. Lorem Ipsum elit non mi porta gravida y at egorial. Pellentesque nulla nisi, dapibus ut purus aliquam, semper lacinia purus. Fusce dapibus, spilia dur fermentum massa tellio cursus pulio, e te brute y tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Proin vel purus ut nulla sodales faucibus id ut lacus. Fusce dapibus, tellus ac cursus pulio, e te brute y tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Proin vel purus ut nulla sodales faucibus id ut lacus. Pellentesque nulla nisi elit non mi porta gravida y at egorial. Lorem Ipsum dividi non mi porta gravidisima y gravidisimo.
    </p><!-- .media-body -->
  </div><!-- .media -->
  <small class="d-block text-right text-muted mt-1">
    <strong class="d-block text-gray-dark">Anthony Juan Maseda</strong>
  </small><!-- .d-block -->
</div><!-- .my-3 p-3 card -->

<section class="mt-4 pt-4 mb-5 pb-5 text-center">
  <h4 class="jumbotron-heading mb-1 pb-1 pt-1">Our Community</h4>
  <!-- Google Charts -->
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <div class="row">
    <div class="col-lg-7 gstatic">
      <%= geo_chart Ahoy::Visit.countries %>
    </div><!-- .col-lg-7 -->
    <div class="col-lg-5">
      <div class="row mt-5 pt-4">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-tayberry progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= User.with_role(:visitor).count * 75.31 %>%" data-toggle="tooltip" data-placement="bottom" title="Free"></div>
            <div class="progress-bar progress-bar-striped bg-shnozberry progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= User.with_role(:member).count * 75.31 %>%" data-toggle="tooltip" data-placement="bottom" title="Members"></div>
          </div><!-- .progress -->
        </div><!-- .col-10 -->
        <div class="col-1"></div>
      </div><!-- row -->
      <div class="row mt-5 pt-2">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-orange progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= Article.count * 75.31 %>%" data-toggle="tooltip" data-placement="bottom" title="Articles"></div>
            <div class="progress-bar progress-bar-striped bg-brownie progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= TodoItem.count * 75.31 %>%" data-toggle="tooltip" data-placement="bottom" title="ToDo Items"></div>
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= Room.count * 75.31 %>%" data-toggle="tooltip" data-placement="bottom" title="Chat Rooms"></div>
          </div><!-- .progress -->
        </div><!-- .col-10 -->
        <div class="col-1"></div>
      </div><!-- .row -->
    </div><!-- .col-lg-5 -->
  </div><!-- row -->
</section><!-- .gstatic -->

<section class="pt-0 mt-0 text-center in-app">
  <h4 class="jumbotron-heading mb-0 pb-0">Key Features</h4>
  <div class="row">
    <div class="col-sm-3 text-muted">
      <div class="left-1 mb-5 pt-3 pb-5">
        <i class="fas fa-laptop-code" style="background:#6c757d; color:#fff;"></i>
        <h5>Mutation</h5>
        <p>Reactive components</p>
      </div><!-- .left-1 -->
      <div class="left-2 mt-5 mb-5 pt-5 pb-5">
        <i class='fas fa-chart-pie'></i>
        <h5>Analytics</h5>
    	  <p>Chartkick, Groupdate, Geocoder &amp; Ahoy</p>
      </div><!-- .left-2 -->
    </div><!-- .col-sm-3 -->
    <div class="col-sm-6 d-flex align-items-center">
      <%= image_tag 'welcome/react.png', alt: 'Welcome', class: 'center-img shadow-lg' %>
    </div><!-- .col-sm-6 -->
    <div class="col-sm-3 text-muted">
      <div class="right-1 mb-5 pt-3 pb-5">
        <i class='fas fa-lock-open'></i>
        <h5>Authentication</h5>
    	  <p>Devise, Rolify, &amp; CanCan</p>
      </div><!-- .right-1 -->
      <div class="right-2 mt-5 mb-5 pt-5 pb-5">
        <i class='fas fa-comments'></i>
        <h5>WebRTC</h5>
        <p>Video Chat via Stimulus and the Twilio API</p>
      </div><!-- .right-2 -->
    </div><!-- .col-sm-3 .text-muted -->
  </div><!-- .row -->
</section><!-- .in-app -->

<!-- Transition Images -->
<script>
  $(function() {
    $(".left-1 svg").css('background', '#6c757d');
    $('.left-1 svg').css('color', '#fff');
    $('.left-1').click(function(){
      $('img.center-img').hide().toggle("shuffle").attr("src",'<%= asset_path("welcome/react.png")%>');
      $(".left-1 svg").css('background', '#6c757d');
      $('.left-1 svg').css('color', '#fff');
      $(".left-2 svg").removeAttr('style');
      $(".right-1 svg").removeAttr('style');
      $(".right-2 svg").removeAttr('style');
      return false;
    });
    $('.left-2').click(function(){
      $('img.center-img').hide().toggle("shuffle").attr("src",'<%= asset_path("welcome/chart.png")%>');
      $(".left-2 svg").css('background', '#6c757d');
      $('.left-2 svg').css('color', '#fff');
      $(".left-1 svg").removeAttr('style');
      $(".right-1 svg").removeAttr('style');
      $(".right-2 svg").removeAttr('style');
      return false;
    });
    $('.right-1').click(function(){
      $('img.center-img').hide().toggle("shuffle").attr("src",'<%= asset_path("welcome/devise.png")%>');
      $(".right-1 svg").css('background', '#6c757d');
      $('.right-1 svg').css('color', '#fff');
      $(".right-2 svg").removeAttr('style');
      $(".left-1 svg").removeAttr('style');
      $(".left-2 svg").removeAttr('style');
      return false;
    });
    $('.right-2').click(function(){
      $('img.center-img').hide().toggle("shuffle").attr("src",'<%= asset_path("welcome/webRTC.png")%>');
      $(".right-2 svg").css('background', '#6c757d');
      $('.right-2 svg').css('color', '#fff');
      $(".right-1 svg").removeAttr('style');
      $(".left-1 svg").removeAttr('style');
      $(".left-2 svg").removeAttr('style');
      return false;
    });
  });
</script>
