<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome</h1>
    <p class="lead text-left text-muted">This is an example Ruby on Rails application. Join us and become part of the greatest one ever 🖖🏼</p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<div class="card-deck mb-1 text-center">
  <div class="card mb-4 border-0 shadow">
    <div class="card-header bg-tayberry">
      <h4 class="my-0 font-weight-bold text-white">Free</h4>
    </div><!-- .card-header -->
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$0</h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li><strong>Never Pay</strong></li>
        <li>Private ToDo List</li>
        <li>Read &amp; add to the Blog</li>
        <li>Participate in the Video Chat</li>
      </ul><!-- .ist-unstyled -->
      <%= link_to("Sign up for Free", new_user_registration_path, class: 'btn btn-lg btn-block btn-outline-primary') %>
    </div><!-- .card-body -->
  </div><!-- .card -->
  <div class="card mb-4 border-0 shadow">
    <div class="card-header bg-shnozberry">
      <h4 class="my-0 font-weight-bold text-white">Membership</h4>
    </div><!-- .card-header -->
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$10 <small class="text-muted">min</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li><strong>Pay Once</strong></li>
        <li>Private ToDo List</li>
        <li>Read &amp; add to the Blog</li>
        <li>Participate in <i>and create</i> Video Chats</li>
      </ul><!-- .ist-unstyled -->
      <button type="button" class="btn btn-lg btn-block btn-outline-primary">Coming Soon</button>
    </div><!-- .card-body -->
  </div><!-- .card -->
</div><!-- .card-deck -->

<div class="my-3 p-4">
  <h5 class="jumbotron-heading pb-0 mb-0">Breakdown</h5>
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125">
      <strong class="d-block text-gray-dark">The App</strong>
      This is a Rails <a href="https://rubygems.org/gems/rails/versions" target="_blank" class="text-info"><%= Rails.version %></a>
      (Ruby <a href="https://www.ruby-lang.org/en/downloads/releases/" target="_blank" class="text-info"><%= RUBY_VERSION %></a>)
      Blog &plus; ToDo &plus; WebRTC application packed with modern, lightweight libraries &amp; frameworks to shape the frontend.
    </p>
  </div><!-- .media -->
  <div class="media text-muted pt-3">
    <%= image_tag 'tayberry.svg', alt: 'Media', class: 'mr-2 rounded' %>
    <p class="media-body pb-3 mb-0 small lh-125">
      <strong class="d-block text-gray-dark">Free</strong>
      Sign up and never pay for free access to the site. This package includes a private ToDo List,
      full access to the Blog, and the ability to join Video Chats created by members.
      You can always decide to upgrade at any time.
    </p><!-- .media-body -->
  </div><!-- .media -->
  <div class="media text-muted pt-3">
    <%= image_tag 'shnozberry.svg', alt: 'Media', class: 'mr-2 rounded' %>
    <p class="media-body pb-3 mb-0 small lh-125">
      <strong class="d-block text-gray-dark">Membership</strong>
      Sign up and pay once for total access to the site. This package includes a private ToDo List,
      full access to the Blog, and the ability to join Video Chats created by
      YOU + other members. As new features are released, your early adoption will grant you
      access to them as well.
    </p><!-- .media-body -->
  </div><!-- .media -->
  <div class="media text-muted pt-3">
    <p class="media-body pb-0 mb-0 small">
      This is a side project of mine that I began in late 2020.
      The idea was to create a sandbox, outside of work, in which I could experiment with
      the various web technologies I love.
      In this project, we are leveraging (and purposely very dependent upon) modern
      gems, frameworks and libraries in order to explore the potential agility of Ruby on Rails (A gem itself).
      Collaboration fosters best practices; working with others is integral to personal growth as a developer.
      Coding solo fosters development in a freeform manner that values
      ownership over camaraderie, and craft over professional rigor.
    </p><!-- .media-body -->
  </div><!-- .media -->
  <small class="d-block text-right text-muted mt-1 mr-2">
    <strong class="d-block text-gray-dark">Anthony Juan Maseda Rey</strong>
  </small><!-- .d-block -->
</div><!-- .my-3 p-3 card -->

<%= render partial: 'pages/features' %>

<%= render partial: 'pages/community' %>
