<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome</h1>
    <p class="lead text-left text-muted">There is no product being sold here. The site's content is meant to serve as an example. Join now to see the blog, todo list, &amp; video chat.</p>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<div class="card-deck mb-1 text-center">
  <div class="card mb-2 shadow-sm">
    <div class="card-header bg-tayberry">
      <h4 class="my-0 font-weight-bold text-white">Free</h4>
    </div><!-- .card-header -->
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li><strong>Lorem</strong></li>
        <li>Fusce dapibus donec id elit</li>
        <li>Porta gravida giggidi</li>
        <li>Justo</li>
      </ul><!-- .ist-unstyled -->
      <%= link_to("Sign up for free", new_user_registration_path, class: 'btn btn-lg btn-block btn-outline-primary') %>
    </div><!-- .card-body -->
  </div><!-- .card -->
  <div class="card mb-2 shadow-sm">
    <div class="card-header bg-shnozberry">
      <h4 class="my-0 font-weight-bold text-white">Premium</h4>
    </div><!-- .card-header -->
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li><strong>Lorem Ipsum</strong></li>
        <li>Fusce dapibus donec id elit</li>
        <li>Porta gravida at emic eget</li>
        <li>Justo sit amet risus</li>
      </ul><!-- .ist-unstyled -->
      <button type="button" class="btn btn-lg btn-block btn-outline-success">Start subscription</button>
    </div><!-- .card-body -->
  </div><!-- .card -->
</div><!-- .card-deck -->

<div class="mb-5 my-3 p-4 card shadow-sm">
  <h5 class="jumbotron-heading border-bottom border-gray pb-2 mb-0">What are we selling?</h5>
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Absolutely nothing</strong>
      This is a Rails 6 (PostgreSQL) ToDo, Blog, and WebRTC application that utilizes various libraries &amp; frameworks to shape the frontend.
    </p>
  </div>
  <div class="media text-muted pt-3">
    <%= image_tag 'tayberry.svg', alt: 'Media', class: 'mr-2 rounded' %>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Free</strong>
      Donec id elit non mi porta gravida amo vidicus metu. Quipio udon rando, ut fermentum massa justo sit amet risus. Pellentesque nulla nisi, dapibus ut purus aliquam. Proin vel purus ut nulla sodales faucibus id ut lacus.
    </p><!-- .media-body -->
  </div><!-- .media -->
  <div class="media text-muted pt-3">
    <%= image_tag 'schnozberry.svg', alt: 'Media', class: 'mr-2 rounded' %>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Premium</strong>
      Lorem Ipsum elit non mi porta gravida y at egorial. Giggiti nulla nisi, dapibus ut purus aliquam, semper lacinia purus. Fusce dapi, tellus ac cursus pulio, giggiti y tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Proin vel purus ut nulla sodales faucibus id ut lacus.
    </p><!-- .media-body -->
  </div><!-- .media -->
  <div class="media text-muted pt-3">
    <p class="media-body pb-0 mb-0 small">
      Lorem Ipsum elit non mi porta gravida y at egorial. Pellentesque nulla nisi, dapibus ut purus aliquam, semper lacinia purus. Fusce dapibus, tellus ac cursus pulio, e te brute y tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Proin vel purus ut nulla sodales faucibus id ut lacus. Lorem Ipsum elit non mi porta gravida y at egorial. Pellentesque nulla nisi, dapibus ut purus aliquam, semper lacinia purus. Fusce dapibus, spilia dur fermentum massa tellio cursus pulio, e te brute y tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Proin vel purus ut nulla sodales faucibus id ut lacus. Fusce dapibus, tellus ac cursus pulio, e te brute y tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Proin vel purus ut nulla sodales faucibus id ut lacus. Pellentesque nulla nisi elit non mi porta gravida y at egorial. Lorem Ipsum dividi non mi porta gravidisima y gravidisimo.
    </p><!-- .media-body -->
  </div><!-- .media -->
  <small class="d-block text-right text-muted mt-2">
    <strong class="d-block text-gray-dark">Anthony Juan Maseda</strong>
  </small><!-- .d-block -->
</div><!-- mb-5 .my-3 p-3 card shadow-sm -->

<section class="pt-5 mt-5 text-center in-app">
  <h4 class="jumbotron-heading mb-0 pb-0">Key Features</h4>
  <div class="row">
    <div class="col-sm-3 text-muted">
      <div class="left-1 mb-5 pt-3 pb-5">
        <i class="fas fa-laptop-code" style="background:#6c757d; color:#fff;"></i>
        <h5>React JS</h5>
    	  <p>A ToDo list built with React</p>
      </div><!-- .left-1 -->
      <div class="left-2 mt-5 mb-5 pt-5 pb-5">
        <i class='fas fa-chart-pie'></i>
        <h5>Chart JS</h5>
    	  <p>Dynamic charts built with Chartkick &amp; Groupdate</p>
      </div><!-- .left-2 -->
    </div><!-- .col-sm-3 -->
    <div class="col-sm-6 d-flex align-items-center">
      <%= image_tag 'welcome/react.png', alt: 'Welcome', class: 'center-img shadow-lg' %>
    </div><!-- .col-sm-6 -->
    <div class="col-sm-3 text-muted">
      <div class="right-1 mb-5 pt-3 pb-5">
        <i class='fas fa-lock-open'></i>
        <h5>Authentication</h5>
    	  <p>Devise, Rolify, &amp; CanCan</p>
      </div><!-- .right-1 -->
      <div class="right-2 mt-5 mb-5 pt-5 pb-5">
        <i class='fas fa-language'></i>
        <h5>Custom Regex</h5>
        <p>Methods to validate &amp; format any YouTube url</p>
      </div><!-- .right-2 -->
    </div><!-- .col-sm-3 .text-muted -->
  </div><!-- .row -->
</section><!-- .text-center .in-app -->

<!-- Transition Images -->
<script>
  $(function(){$('.left-1').click(function(){$('img.center-img').hide().toggle("shuffle").attr("src",'<%= asset_path("welcome/react.png")%>');$(".left-1 svg").css('background','#6c757d');$('.left-1 svg').css('color','#fff');$(".left-2 svg").removeAttr('style');$(".right-1 svg").removeAttr('style');$(".right-2 svg").removeAttr('style');return!1});$('.left-2').click(function(){$('img.center-img').hide().toggle("shuffle").attr("src",'<%= asset_path("welcome/chart.png")%>');$(".left-2 svg").css('background','#6c757d');$('.left-2 svg').css('color','#fff');$(".left-1 svg").removeAttr('style');$(".right-1 svg").removeAttr('style');$(".right-2 svg").removeAttr('style');return!1});$('.right-1').click(function(){$('img.center-img').hide().toggle("shuffle").attr("src",'<%= asset_path("welcome/devise.png")%>');$(".right-1 svg").css('background','#6c757d');$('.right-1 svg').css('color','#fff');$(".right-2 svg").removeAttr('style');$(".left-1 svg").removeAttr('style');$(".left-2 svg").removeAttr('style');return!1});$('.right-2').click(function(){$('img.center-img').hide().toggle("shuffle").attr("src",'<%= asset_path("welcome/regex.png")%>');$(".right-2 svg").css('background','#6c757d');$('.right-2 svg').css('color','#fff');$(".right-1 svg").removeAttr('style');$(".left-1 svg").removeAttr('style');$(".left-2 svg").removeAttr('style');return!1})})
</script>
