<h1 style="font-size:30px; margin-bottom:12px; margin-left:3px;">
  RRB Daily Analytics
</h1>

<h2 style="font-size:27px; margin-bottom:12px; margin-left:3px; color:#777;">
  Visits: <%= @visits.count %>
</h2>

<ol style="margin-left:3px; list-style-type:decimal;">
  <% @visits.each do |visit| %>
    <li style="font-size:15px; margin-bottom:6px; display:list-item;">
      <span style="color:#dc3545;"><%= visit.id %></span>
      <ul style="margin-left:3px;">
        <li style="font-size:15px; margin-bottom:6px; display:list-item;">
          <strong>Start:</strong>
          <span style="color:#6f47be;">
            <%= visit.started_at.strftime('%m/%d/%Y, %H:%M:%S') %>
          </span>
        </li>
        <li style="font-size:15px; margin-bottom:6px; display:list-item;">
          <strong>User:</strong>
          <span style="color:#dc3545;">
            <%= visit.user ? visit.user.name : 'Unauthorized' %>
          </span>
        </li>
        <% if visit.referring_domain.present? %>
          <li style="font-size:15px; margin-bottom:6px; display:list-item;">
            <strong>Referrer:</strong>
            <a href="<%= visit.referrer %>" target="_blank" class="black-link">
              <%= visit.referring_domain %>
            </a>
          </li>
        <% end %>
        <li style="font-size:15px; margin-bottom:6px; display:list-item;">
          <strong>Landing:</strong>
          <a href="<%= visit.landing_page %>" target="_blank" class="black-link">
            <%= visit.landing_suffix %>
          </a>
        </li>
        <li style="font-size:15px; margin-bottom:6px; display:list-item;">
          <strong>Browser:</strong> <%= visit.browser %>
        </li>
        <li style="font-size:15px; margin-bottom:6px; display:list-item;">
          <strong>OS:</strong> <%= visit.os %>
        </li>
        <li style="font-size:15px; margin-bottom:6px; display:list-item;">
          <strong>Location:</strong>
          <span style="color:#dc3545;">
            <%= visit.location %>
          </span>
        </li>
        <li style="font-size:15px; margin-bottom:6px; display:list-item;">
          <strong>Events:</strong> <%= visit.events.count %>
          <% if visit.events.any? %>
            <ol style="margin-left:2px; list-style-type:decimal; color:777;">
              <% visit.events.each do |event| %>
                <li style="font-size:15px; margin-bottom:6px; display:list-item;">
                  <span style="color:#dc3545;"><%= event.name %></span>
                  <p style="margin-left:3px; font-size:15px; margin-top:3px; margin-bottom:3px;">
                    <strong>Time:</strong>
                    <span style="color:#6f47be;">
                      <%= event.time.strftime('%m/%d/%Y, %H:%M:%S') %>
                    </span>
                  </p>
                  <% if event.properties.any? %>
                    <p style="margin-left:3px; font-size:15px; margin-top:3px; margin-bottom:3px;">
                      <strong>Properties:</strong> <%= event.properties %>
                    </p>
                  <% end %>
                </li>
              <% end %>
            </ol>
          <% end %>
        </li>
      </ul>
    </li>
  <% end %>
</ol>
