<div class="random">


  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Random (sandbox)</h1>
      <p class="lead text-muted">There is no actual product being sold here. The content below is development markup. Please <%= link_to('sign in', new_user_session_path) %> or <%= link_to("sign up", new_user_registration_path) %> to see the blog &plus; todo list.</p>
    </div>
  </section>


  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header bg-tayberry">
        <h4 class="my-0 font-weight-bold text-white">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><strong>Lorem</strong></li>
          <li>Fusce dapibus donec id elit</li>
          <li>Porta gravida</li>
          <li>Justo</li>
        </ul>
        <%= link_to("Sign up for free", new_user_registration_path, class: 'btn btn-lg btn-block btn-outline-primary') %>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header bg-shnozberry">
        <h4 class="my-0 font-weight-bold text-white">Premium</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><strong>Lorem Ipsum</strong></li>
          <li>Fusce dapibus donec ima</li>
          <li>Porta gravida at emic eget</li>
          <li>Justo sit amet risus</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-success">Buy Premium</button>
      </div>
    </div><!-- .card -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header bg-shnozberry">
        <h4 class="my-0 font-weight-bold text-white">Unlimited</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><strong>Lorem Ipsum</strong></li>
          <li>Fusce dapibus donec id elit</li>
          <li>Porta gravida at emic eget</li>
          <li>Justo sit amet risus</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-success">Buy Unlimited</button>
      </div>
    </div><!-- .card -->
  </div><!-- .card-deck -->


  <section class="jumbotron text-center card shadow-sm">

    <h2 class="jumbotron-heading mb-4">Charts</h2>

    <div class="row">
      <div class="col-12">
        <h4 class="jumbotron-heading mt-5 mb-2 text-gray-dark">Articles ( <%= Article.count %> Total )</h4>
      </div><!-- .col-12 -->
      <div class="col-xl-6">
        <h6 class="text-muted mt-5 mb-1 pb-0">
          <strong class="text-gray-dark">Article Titles</strong>
        </h6><!-- . -->
        <div class="pt-0 mt-0 mb-5">
          <!-- NO Controller Method for now (Sandbox) -->
          <%= pie_chart Article.group(:title).count, defer: true, download: true, legend: false %>
        </div><!-- . -->
      </div><!-- .col-xl-6 -->
      <div class="col-xl-6">
        <h6 class="text-muted mt-5 mb-1 pb-0">
          <strong class="text-gray-dark">New Articles Month by Year</strong>
        </h6><!-- . -->
        <div class="pt-0 mt-0 mb-5">
          <%= line_chart charts_month_of_year_articles_path, download: true, points: false, colors: ["rgba(61,12,2,1)"] %>
        </div><!-- . -->
      </div><!-- .col-xl-6 -->
    </div><!-- .row -->

    <div class="row">
      <div class="col-12">
        <h4 class="jumbotron-heading mt-5 mb-2 text-gray-dark">Users ( <%= User.count %> Total )</h4>
      </div><!-- .col-12 -->
      <div class="col-xl-6">
        <h6 class="text-muted mt-5 mb-1 pb-0">
          <strong class="text-gray-dark">User Emails</strong>
        </h6><!-- . -->
        <div class="pt-0 mt-0 mb-5">
          <!-- NO Controller Method for now (Sandbox) -->
          <%= pie_chart User.group(:email).count, defer: true, download: true, legend: false %>
        </div><!-- . -->
      </div><!-- .col-xl-6 -->
      <div class="col-xl-6">
        <h6 class="text-muted mt-5 mb-1 pb-0">
          <strong class="text-gray-dark">New Users Month by Year</strong>
        </h6><!-- . -->
        <div class="pt-0 mt-0 mb-5">
          <%= area_chart charts_month_of_year_users_path, download: true, points: false, colors: ["#{}ffc107"] %>
        </div><!-- . -->
      </div><!-- .col-xl-6 -->
    </div><!-- .row -->

    <div class="row">
      <div class="col-12">
        <h4 class="jumbotron-heading mt-5 mb-2 text-gray-dark">Static Content</h4>
      </div><!-- .col-12 -->
      <div class="col-xl-6">
        <h6 class="text-muted mt-5 mb-1 pb-0">
          <strong class="text-gray-dark">Sports Played</strong>
        </h6><!-- . -->
        <div class="pt-0 mt-0 mb-5">
          <%= pie_chart({"Surfing" => 10, "Golf" => 10, "Jiu Jitsu" => 5, "Skiing" => 5, "Walking" => 3}) %>
        </div><!-- . -->
      </div><!-- .col-xl-6 -->
      <div class="col-xl-6">
        <h6 class="text-muted mt-5 mb-1 pb-0">
          <strong class="text-gray-dark">Food Groups</strong>
        </h6><!-- . -->
        <div class="pt-0 mt-0 mb-5">
          <%= bar_chart ({"Carbs" => 9, "Protein" => 7, "Dairy" => 5, "Fruit" => 5, "Vegetables" => 7}) %>
        </div><!-- . -->
      </div><!-- .col-xl-6 -->
    </div><!-- .row -->

  </section><!-- .jumbotron -->


  <section class="jumbotron text-center mt-5">

    <h2 class="jumbotron-heading mb-4">Map &amp; Videos</h2>

    <div class="row mb-4">
      <div class="col-lg-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d13519.573901475933!2d-74.01550190195908!3d40.2444926305387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgmaps%20deal%20nj!5e1!3m2!1sen!2sus!4v1606372422795!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div><!-- .embed-responsive -->
      </div><!-- .col-lg-12 -->
    </div><!-- .row -->

    <div class="row">
      <div class="col-lg-6">
        <div class="embed-responsive embed-responsive-16by9 mb-2">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FsuQg42XNMo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div><!-- .embed-responsive -->
      </div><!-- .col-lg-6 -->
      <div class="col-lg-6">
        <div class="embed-responsive embed-responsive-16by9 mb-2">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/u75Zsl1ECPQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div><!-- .embed-responsive -->
      </div><!-- .col-lg-6 -->
    </div><!-- .row -->

  </section><!-- .jumbotron -->


</div><!-- .random -->
