<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" } ) do |f| %>

  <div class="text-center mb-4">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', alt: 'Logo', class: 'logo' %>
    <% end %>
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <p>
      <i class="fas fa-info-circle text-muted" data-toggle="modal" data-target="#exampleModal"></i>
      View as 
      <span style="cursor:pointer;" class="text-info text-weight-bold member" data-dismiss="modal">member</span>
      or
      <span style="cursor:pointer;" class="text-info text-weight-bold superadmin" data-dismiss="modal">superadmin</span>
    </p>
    <!-- <p><span style="cursor:pointer;" class="text-info text-weight-bold" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-info-circle"></i> Example Accounts</span></p> -->
  </div><!-- .text-center .mb-4 -->

  <div class="form-label-group">
    <%= f.email_field :email, autocomplete: "email", id: "inputEmail", class: "form-control", placeholder: "Email address", autofocus: true %>
    <label for="inputEmail">Email address</label>
  </div><!-- .form-label-group -->

  <div class="form-label-group">
    <%= f.password_field :password, autocomplete: "current-password", id: "inputPassword", class: "form-control", placeholder: "Password (6 characters minimum)" %>
    <label for="inputPassword">Password</label>
  </div><!-- .form-label-group -->

  <% if devise_mapping.rememberable? %>
    <div class="form-label-group">
      <div class="col-sm-12">
        <%= f.label :remember_me, title: 'Remember me' do %>
          <%= f.check_box :remember_me, id: 'inputRemember' %>
        <% end %>
        <label for="inputRemember" class='text-muted'>Remember me</label>
      </div><!-- col-sm-12 -->
    </div><!-- form-group -->
  <% end %>

  <%= f.submit "Sign in", class: "btn btn-lg btn-info btn-block" %>

  <p class="mt-5 mb-3 text-muted text-center">
    <%= render "devise/shared/links" %>
  </p>

<% end %>


<div class="modal fade text-left" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">
          Example Accounts
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-window-close"></i>
        </button><!-- .close -->
      </div><!-- .modal-header -->
      <div class="modal-body">
        <div class="my-3 p-3 shadow-lg">
          <h5 class="border-bottom border-gray pb-1 mt-1">Member</h5>
          <div class="media text-muted pt-1">
            <p title="Click here to use credentials" class="member media-body small text-primary border-bottom border-gray pb-3 mb-0">
              Click here to use credentials
            </p><!-- .media-body -->
          </div><!-- .media -->
          <h5 class="border-bottom border-gray pb-1 mt-4">Superadmin</h5>
          <div class="media text-muted pt-1">
            <p title="Click here to use credentials" class="superadmin media-body small text-primary border-bottom border-gray pb-3 mb-0">
              Click here to use credentials
            </p><!-- .media-body -->
          </div><!-- .media -->
        </div><!-- .my-3 .p-3 .shadow-lg -->
      </div><!-- .modal-body -->
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->

<script>
  $(function() {
    $('.member').click(function(){
      email = "<%= User.with_role(:member).first.email if User.with_role(:member).present? %>";
      var emailField = document.getElementById('inputEmail');
      var passwordField = document.getElementById('inputPassword');
      emailField.value = email;
      passwordField.value = "m@keTh1ng$";
      $('#exampleModal').modal('hide');
      return;
    });
    $('.superadmin').click(function(){
      email = "<%= User.with_role(:superadmin).first.email if User.with_role(:superadmin).present? %>";
      var emailField = document.getElementById('inputEmail');
      var passwordField = document.getElementById('inputPassword');
      emailField.value = email;
      passwordField.value = "m@keTh1ng$";
      $('#exampleModal').modal('hide');
      return;
    })
  })
</script>
