<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" } ) do |f| %>

  <div class="text-center mb-4">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', alt: 'Logo', class: 'logo' %>
    <% end %>
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <p>Use the credentials below to view the blog, edit that user's posts, &amp; see their todo list:</p>
    <p><code><%= User.find(1).email %></code><br><code>bs&E2wJC7A(?4X!</code></p>
  </div><!-- .text-center .mb-4 -->

  <div class="form-label-group">
    <%= f.email_field :email, autocomplete: "email", id: "inputEmail", class: "form-control", placeholder: "Email address", autofocus: true %>
    <label for="inputEmail">Email address</label>
  </div><!-- .form-label-group -->

  <div class="form-label-group">
    <%= f.password_field :password, autocomplete: "current-password", id: "inputPassword", class: "form-control", placeholder: "Password (6 characters minimum)", autofocus: true %>
    <label for="inputPassword">Password</label>
  </div><!-- .form-label-group -->

  <% if devise_mapping.rememberable? %>
    <div class="checkbox mb-3">
      <%= f.label :remember_me, class: 'checkbox' do %>
        <%= f.check_box :remember_me %> Remember me
      <% end %>
    </div><!-- .checkbox .mb-3 -->
  <% end %>

  <%= f.submit "Sign in", class: "btn btn-lg btn-success btn-block" %>

  <p class="mt-5 mb-3 text-muted text-center">
    <%= render "devise/shared/links" %>
  </p>

<% end %>
