<%= turbo_frame_tag "room" do %>
  <%= form_for @room, html: { class: 'form-horizontal' } do |f| %>

    <% if @room.errors.any? %>
      <div class="errors">
        <h2>There was an error with this room:</h2>
        <ul>
          <% @room.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <section class="pt-1">
      <div class="col-sm-12 pt-4">
        <%= f.text_field :name, id: "inputName", class: "form-control", placeholder: "Name", autofocus: true %>
        <label for="inputName"><code>&#42; Name</code></label>
      </div><!-- .col-sm-12 -->
      <div class="col-sm-12 text-center pt-4 pb-2">
        <%= link_to 'Cancel', @room, class: 'btn btn-outline-secondary' %>
        <%= f.submit class: 'btn btn-success' %>
      </div><!-- .col-sm-12 -->
    </section><!-- .pt-1 -->

  <% end %>
<% end # turbo_frame_tag "room" %>
