<%= turbo_frame_tag "room" do %>
  <%= form_for @room, html: { class: 'form-horizontal' } do |f| %>

    <% if @room.errors.any? %>
      <div class="errors">
        <h2>There was an error with this room:</h2>
        <% @room.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <section class="pt-1 text-start">
      <div class="form-floating">
        <%= f.text_field :name, autocomplete: "Name", id: "inputName", class: "form-control", placeholder: "Name", autofocus: false %>
        <label for="inputEmail"><code class="text-tayberry">&#42; Name</code></label>
      </div><!-- .form-floating -->
      <div class="form-group d-flex justify-content-center">
        <%= link_to 'Cancel', @room, class: 'btn btn-secondary align-self-center mx-1' %>
        <%= f.submit 'Submit', class: 'btn btn-tayberry align-self-center mx-1' %>
      </div><!-- .form-group -->
    </section><!-- .pt-1 -->

  <% end %>
<% end # turbo_frame_tag "room" %>
