<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Room</th>
        <th scope="col">Created</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= link_to truncate(room.name), room, class: 'text-dark font-weight-bold' %></td>
          <td><%= room.created_at.in_time_zone("#{current_user.timezone}").strftime('%b %-d, %Y') %> by <%= truncate(room.user.name) %></td>
          <td class="text-right">
            <% if can? :manage, room %>
              <%= link_to room_path(room), method: :delete, data: { confirm: 'Are you sure you want to delete this room?' } do %>
                <i class='fas fa-trash text-dark mr-1'></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table><!-- .table .table-striped -->
</div><!-- .table-responsive -->
<div class="pagination">
  <%= will_paginate @rooms,
    previous_label:'Prev',
    next_label:'Next',
    inner_window: 1, outer_window: -1
  %>
</div><!-- .pagination -->
