<section class="jumbotron text-center">
  <div class="container">
    <%= turbo_frame_tag "room" do %>
      <h1 class="jumbotron-heading"><%= truncate(@room.name) %></h1>
      <p class="lead text-muted">
        <%= @room.created %>
        <strong class="d-block"><i class="bi bi-person-fill text-dark"></i> <%= link_to truncate(@room.user.name), @room.user, class: "text-info" %></strong>
      </p>
      <% if can? :manage, @room %>
        <p class="mt-0 mb-0">
          <%= link_to edit_room_path(@room), class: 'btn btn-outline-dark' do %>
            <i class='bi bi-pencil-fill text-tayberry' title="Edit"></i>
          <% end %>
          <%= link_to room_path(@room), class: 'btn btn-outline-dark', method: :delete, data: { confirm: 'Are you sure you want to delete this room?' } do %>
            <i class='bi bi-trash-fill text-danger mx-1' title="Delete"></i>
          <% end %>
        </p>
      <% end %>
    <% end # turbo_frame_tag "room" %>
  </div><!-- .container -->
</section><!-- .jumbotron -->

<section class="mb-5 pb-5">
  <div class='row'>
    <div class='col-12'>
      <div id='videos'
        data-controller='video-chat'
        data-video-chat-twilio='<%= @room.room_key %>'
        data-video-chat-session="<%= session.id %>"
        data-video-chat-id="<%= @room.id %>">
        <div class="d-inline" data-video-chat-target="remote_videos"></div>
        <video data-video-chat-target="local_video" autoplay></video>
      </div><!-- #videos -->
      <button class="w-100 btn btn-lg btn-outline-tayberry mb-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasInput" aria-controls="offcanvasInput">
        Add Notes
      </button>
    </div><!-- .col-12 -->
    <div class="col-12 overflow-auto" id='show-notes'>
      <div class="offcanvas offcanvas-top room-top" data-bs-scroll="true" tabindex="-1" id="offcanvasInput" aria-labelledby="offcanvasInputLabel">
        <div class="offcanvas-body">
          <%= turbo_frame_tag 'new_note', src: new_room_note_path(@room), target: :_top %>
        </div>
      </div>
      <%= turbo_stream_from @room %>
      <div id='notes'>
        <%= render @room.notes %>
      </div><!-- #notes -->
    </div><!-- .col-12 -->
  </div><!-- .row -->
</section><!-- .mb-5 .pb-5 -->
