<!DOCTYPE html>
<html>
  <head>
    <title>Rails React Bootstrap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': true %>
    <% if user_signed_in? && current_user.dark_theme %>
      <style>
        /* Dark Theme */
        body {background: #000;}
        .btn-info {
          border-color: #556b2f !important;
          background-color: #556b2f !important;
        } .text-info {color: #556b2f !important;}
        .theme, .bg-shnozberry, .text-shnozberry, .bg-tayberry, .text-tayberry,
        .bg-success, .btn-success, .btn-outline-success,
        .bg-danger, .btn-danger, .btn-outline-danger, .text-danger,
        .dropdown-menu, code, video, iframe:not(:fullscreen), img {filter: invert(100%);}
      </style>
    <% end %>
  </head>
  <body>
    <%= render "shared/header" %>
    <%= render "shared/flash" %>
    <div class="container theme overflow-hidden">
      <%= yield %>
    </div><!-- .container .theme -->
    <%= render "shared/footer" %>
    <%= render 'articles/formats' if controller.class == ArticlesController %>
  </body>
</html>
