<!DOCTYPE html>
<html>
  <head>
    <title>Rails React Bootstrap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Verify site for Google Maps -->
    <meta name="google-site-verification" content="<%= "#{ENV['MAPS_KEY']}" %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': true %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': true %>
    <style>
      html, .bg-dark {
        background-color: #343a40 !important;
      }
    </style>
    <!-- Google Charts -->
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V69XBLGQ6S"></script>
  </head>
  <body>
    <%= render "shared/header" %>
    <%= render "shared/flash" %>
    <div class="container theme overflow-hidden">
      <%= yield %>
    </div><!-- .container .theme -->
    <div id="cookie-banner"></div>
    <%= render "shared/footer" %>





    <div class="position-fixed py-2 px-3 bg-dark text-white rounded-pill" style="bottom:1rem;left:1rem;">
      <div class="form-check form-switch pull-right">
        <input class="form-check-input theme-toggle" type="checkbox">
        <label>Theme</label>
      </div>
    </div>


    <!-- Theme Toggle: dark-mode -->
    <script>
      console.log(document.cookie);
      var element = document.body;
      // Set Cookie
      function setCookie(name,value,days) {
        if (days) {
          var date = new Date();
          date.setTime(date.getTime()+(days*24*60*60*1000));
          var expires = "; expires="+date.toGMTString();
        }
        else var expires = "";
        document.cookie = name+"="+value+expires+"; path=/";
      }
      // Get Cookie
      function getCookie(key) {
        var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
        return keyValue ? keyValue[2] : null;
        console.log(getCookie('theme'));
      }
      // Page Load
      if (getCookie('theme') == 1) {
        document.querySelector('.theme-toggle').checked = false;
      } else {
        setCookie('theme','2', '30');
        document.querySelector('.theme-toggle').checked = true;
        element.classList.add("dark-mode");
      }
      // Toggle Theme
      document.querySelector(".theme-toggle").addEventListener('change', (e) => {
        if (document.querySelector('.theme-toggle').checked == false) {
          setCookie('theme','1', '30');
          console.log('light(1) --  ' + getCookie('theme'));
          element.classList.remove("dark-mode");
        } else {
          setCookie('theme','2', '30');
          console.log('dark(2) -- ' + getCookie('theme'));
          element.classList.add("dark-mode");
        }
      });
    </script>

  </body>
</html>
