<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Title -->
    <title>Rails React Bootstrap</title>
    <!-- Site Description (SEO) -->
    <meta name="description" content="<%= ENV["SITE_DESCRIPTION"] %>" >
    <!-- Canonical (SEO) -->
    <link rel="canonical" href="<%= root_url %>">
    <!-- Facebook meta -->
    <meta property="og:site_name" content="<%= ENV["SITE_NAME"] %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= root_url %>">
    <meta property="og:title" content="<%= ENV["SITE_NAME"] %>">
    <meta property="og:description" content="<%= ENV["SITE_DESCRIPTION"] %>">
    <meta property="og:image" content="https://rails-react-bootstrap.herokuapp.com/assets/og-7ad506a34090c58c7f172a5aae824f3ed2e6d72f5d6a294a251b4d2f6a2c6ea5.png">
    <!-- Twitter meta -->
    <!-- <meta name="twitter:site" content="@idonthaveatwitterhandle"> -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= ENV["SITE_NAME"] %>">
    <meta name="twitter:description" content="<%= ENV["SITE_DESCRIPTION"] %>">
    <meta name="twitter:image" content="https://rails-react-bootstrap.herokuapp.com/assets/og-7ad506a34090c58c7f172a5aae824f3ed2e6d72f5d6a294a251b4d2f6a2c6ea5.png">
    <!-- Verify site for Google Maps -->
    <meta name="google-site-verification" content="<%= "#{ENV['MAPS_KEY']}" %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': true %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': true %>
    <style>
      html, .bg-dark { background-color: #343a40 !important; }
    </style>
    <!-- Google Charts -->
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V69XBLGQ6S"></script>
  </head>
  <body class="bg-white">
    <%= render "shared/header" %>
    <%= render "shared/flash" %>
    <div class="container overflow-hidden">
      <%= yield %>
    </div><!-- .container -->
    <div id="cookie-banner"></div>
    <%= render "shared/footer" %>
  </body>
</html>
