<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Title -->
    <title>Rails React Bootstrap</title>
    <!-- Site Description (SEO) -->
    <meta name="description" content="A Ruby on Rails Blog, ToDo List and WebRTC application packed with modern, lightweight libraries and frameworks to shape the frontend." >
    <!-- Canonical (SEO) -->
    <link rel="canonical" href="<%= root_url %>">
    <!-- Verify site for Google Maps -->
    <meta name="google-site-verification" content="<%= "#{ENV['MAPS_KEY']}" %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': true %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': true %>
    <style>
      html, .bg-dark {
        background-color: #343a40 !important;
      }
    </style>
    <!-- Google Charts -->
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V69XBLGQ6S"></script>
  </head>
  <body class="bg-white">
    <%= render "shared/header" %>
    <%= render "shared/flash" %>
    <div class="container overflow-hidden">
      <%= yield %>
    </div><!-- .container -->
    <div id="cookie-banner"></div>
    <%= render "shared/footer" %>
  </body>
</html>
