<!DOCTYPE html>
<html>
  <head>
    <title>Rails React Bootstrap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': true %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': true %>
    <style>
      html {
        background-color: #fff !important;
      }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V69XBLGQ6S"></script>
  </head>
  <body class="authorization">
    <%= yield %>
  </body><!-- .authorization -->
</html>
