<!DOCTYPE html>
<html>
  <head>
    <title>Rails React Bootstrap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': true %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': true %>
      <style>
        html {
          background-color: #fff !important;
        }
        <% if user_signed_in? && current_user.dark_theme %>
          /* Dark Theme */
          .btn-info {
            border-color: #556b2f !important;
            background-color: #556b2f !important;
          } .text-info {color: #556b2f !important;}
          .theme, .bg-shnozberry, .text-shnozberry, .bg-tayberry, .text-tayberry,
          .bg-success, .btn-success, .btn-outline-success,
          .bg-danger, .btn-danger, .btn-outline-danger, .text-danger,
          .dropdown-menu {filter: invert(100%);}
        <% end %>
      </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V69XBLGQ6S"></script>
  </head>
  <body class="authorization theme">
    <%= yield %>
  </body>
</html>
