<!DOCTYPE html>
<html>
  <head>
    <title>Rails React Bootstrap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body class="signed-out theme">
    <%= yield %>
    <script>
      // Sun Link
      function sunFunction() {
        $(".theme").removeAttr('style');
      }
      // Moon Link
      function moonFunction() {
        $(".theme").css("filter", "invert(100%)");
      }
      // Set Theme Cookie
      function setCookie(name,value,days) {
        if (days) {
          var date = new Date();
          date.setTime(date.getTime()+(days*24*60*60*1000));
          var expires = "; expires="+date.toGMTString();
        }
        else var expires = "";
        document.cookie = name+"="+value+expires+"; path=/";
      }
      function getCookie(key) {
        var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
        return keyValue ? keyValue[2] : null;
      }
      // Persist Theme on New Page Load
      if (getCookie('theme') == 1) {
        moonFunction();
      }
      if (getCookie('theme') == 2) {
        sunFunction();
      }
    </script>
  </body>
</html>
